In [3]:
import pandas as pand

In [2]:
x = 8
z = 4
hn = 'Learning Big Data is fun'

In [3]:
print x+z, hn

12 Learning Big Data is fun

In [4]:
x = z = 5

In [6]:
print x,z

5 5

In [1]:
52+62

114

In [3]:
75-25

50

In [4]:
1/3

0

In [5]:
1/3.00

0.3333333333333333

In [6]:
25%3

1

In [7]:
25//3

8

In [8]:
2*4

8

In [9]:
3**3

27

In [10]:
1/3.0

0.3333333333333333

In [11]:
y = 9

In [12]:
y != 7

True

In [13]:
y == 4

False

In [14]:
y < 15

True

In [15]:
y > 9

False

In [16]:
y >= 9

True

In [17]:
print int('101',8)
print int('010',2)

65
2

In [18]:
print int(5,5)
print int('5')

TypeError: int() can't convert non-string with explicit base

In [19]:
print int(6.7)
print int('6')

6
6

In [21]:
print float(5568)
print float(5)

5568.0
5.0

In [22]:
print float(4.587)

4.587

In [23]:
chr(56)

'8'

In [25]:
ord('c')

99

In [26]:
chr(99)

'c'

In [27]:
print round(7.685)
print round(3.56798, 3)

8.0
3.568

In [28]:
f = complex('2+5j')
print abs(f)

5.38516480713

In [30]:
print isinstance(1.55, float)
print isinstance(432, int)
print isinstance(5.6, (int,float))

True
True
True

In [31]:
print cmp(4,4)
print cmp(10,6)
print cmp(-5,4)

0
1
-1

In [34]:
print pow(4,2)
print pow(4,2,3)

16
1

In [35]:
print range(5)
print range(0,3)
print range(0,100,20)

[0, 1, 2, 3, 4]
[0, 1, 2]
[0, 20, 40, 60, 80]

In [36]:
print 'Hassan'

Hassan

In [37]:
print "Learning Data Analytics"

Learning Data Analytics

In [38]:
print '''Hi there,
I need to play more basketball'''

Hi there,
I need to play more basketball

In [39]:
string1 = 'Lebron'
print 'Play', string1

string2 = 'James'
print 'Play', string1, string2

Play Lebron
Play Lebron James

In [42]:
print 'Play' + string1 + string2

PlayLebronJames

In [43]:
print "Play %s" %string1

Play Lebron

In [45]:
print "Actual Number = %d" %76
print "Float of the number = %f" %5
print "Octal equivalent of the number = %o" %5
print "Hexadecimal equivalent of the number = %x" %5
print "Exponential equivalent of the number = %e" %18756

Actual Number = 76
Float of the number = 5.000000
Octal equivalent of the number = 5
Hexadecimal equivalent of the number = 5
Exponential equivalent of the number = 1.875600e+04

In [46]:
print "Play %s %s" %(string1, string2)

Play Lebron James

In [47]:
print "Lebron had %d points, with an amazing %s" %(81, 'game')

Lebron had 81 points, with an amazing game

In [48]:
print "goal!"*5

goal!goal!goal!goal!goal!

In [49]:
print "goal! %s" *5

goal! %sgoal! %sgoal! %sgoal! %sgoal! %s

In [50]:
print "Lebron\nKyrie\nLove\nShumpert\nSmith"

Lebron
Kyrie
Love
Shumpert
Smith

In [51]:
print '''To Do List:
\t-Clean Floor
\t-Grocery\n\t-Fix Door'''

To Do List:
	-Clean Floor
	-Grocery
	-Fix Door

In [52]:
print "LB with \\n the dunk"

LB with \n the dunk

In [53]:
h = []

In [54]:
print type(h)

<type 'list'>

In [55]:
x = ['Jordan', 'Bryant', 'Malone']

In [56]:
x[1]

'Bryant'

In [57]:
x[-3]

'Jordan'

In [58]:
y = ['Chamberlain', 'Russel', 'Thomas']

In [61]:
z = [x,y]
print z

[['Jordan', 'Bryant', 'Malone'], ['Chamberlain', 'Russel', 'Thomas']]

In [62]:
z1 = z[1]
print z1

['Chamberlain', 'Russel', 'Thomas']

In [63]:
z1[-2]

'Russel'

In [64]:
z[1][1]

'Russel'

In [71]:
digits = [1,2,3,4,5,6]

In [73]:
print digits[0:2]
print digits[:5]
print digits[::2]
print digits[:]

[1, 2]
[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 2, 3, 4, 5, 6]

In [74]:
len(digits)

6

In [78]:
min(digits)

1

In [79]:
max(digits)

6

In [80]:
[7,5] + [90,6,50]

[7, 5, 90, 6, 50]

In [82]:
AllStars = ['Lebron', 'Harden', 'Griffin', 'George']

In [83]:
'George' in AllStars

True

In [84]:
'Malone' in AllStars

False

In [85]:
list = ['five', 'three', 'two', 'z']

In [86]:
print min(list)
print max(list)

five
z

In [87]:
num = ['35', '15', '10000', '76']
print max(num)
print min(num)

76
10000

In [88]:
print max(AllStars, key=len)
print min(AllStars, key=len)

Griffin
Lebron

In [95]:
fit = [1, 9, 8, 6]
fit.append(1)
print fit

[1, 9, 8, 6, 1]

In [96]:
fit.count(1)

2

In [97]:
fit.append(num)
print fit

[1, 9, 8, 6, 1, ['35', '15', '10000', '76']]

In [98]:
fit.extend(num)
print fit

[1, 9, 8, 6, 1, ['35', '15', '10000', '76'], '35', '15', '10000', '76']

In [99]:
fit.index(8)

2

In [100]:
fit.insert(5, 'NBA')
print fit

[1, 9, 8, 6, 1, 'NBA', ['35', '15', '10000', '76'], '35', '15', '10000', '76']

In [101]:
fit.insert(-3, 'Champion')
print fit

[1, 9, 8, 6, 1, 'NBA', ['35', '15', '10000', '76'], '35', 'Champion', '15', '10000', '76']

In [105]:
fit[4] = 'Celtics'
print fit

[1, 9, 8, 6, 'Celtics', 'NBA', ['35', '15', '10000', '76'], '35', 'Champion', '15', '10000', '76']

In [106]:
fit.pop()

'76'

In [107]:
print fit

[1, 9, 8, 6, 'Celtics', 'NBA', ['35', '15', '10000', '76'], '35', 'Champion', '15', '10000']

In [108]:
fit.pop(6)
print fit

[1, 9, 8, 6, 'Celtics', 'NBA', '35', 'Champion', '15', '10000']

In [112]:
print fit

[1, 9, 8, 6, 'Celtics', 'NBA', '35', '15', '10000']

In [113]:
del fit[-1]
print fit

[1, 9, 8, 6, 'Celtics', 'NBA', '35', '15']

In [5]:
fit = [1, 9, 8, 6, 'Celtics', 'NBA', '35', '15']
fit.reverse()
print fit

['15', '35', 'NBA', 'Celtics', 6, 8, 9, 1]

In [6]:
fit.sort()
print fit

[1, 6, 8, 9, '15', '35', 'Celtics', 'NBA']

In [7]:
fit.sort(reverse=True)
print fit

['NBA', 'Celtics', '35', '15', 9, 8, 6, 1]

In [8]:
AllStars = ['Lebron', 'Harden', 'Griffin', 'George']
AllStars.sort()
print AllStars

['George', 'Griffin', 'Harden', 'Lebron']

In [9]:
AllStars.sort(reverse=True)
print AllStars

['Lebron', 'Harden', 'Griffin', 'George']

In [11]:
AllStars.sort(key=len)
print AllStars
AllStars.sort(key=len,reverse=True)
print AllStars

['Lebron', 'Harden', 'George', 'Griffin']
['Griffin', 'Lebron', 'Harden', 'George']

In [12]:
list1 = [1,2,3,4,5]
list2 = list1
print list2

[1, 2, 3, 4, 5]

In [14]:
list1.pop()
print list1
list1.append(9)
print list1

[1, 2, 3, 4]
[1, 2, 3, 4, 9]

In [15]:
print list2

[1, 2, 3, 4, 9]

In [16]:
list1 = [1,9,8,6]
list2 = list1[:]
print list2

[1, 9, 8, 6]

In [17]:
list1.pop()
print list1
list1.append(9)
print list1

[1, 9, 8]
[1, 9, 8, 9]

In [18]:
print list2

[1, 9, 8, 6]

In [19]:
han = divmod(14,3)
print han
print type(han)

(4, 2)
<type 'tuple'>

In [20]:
tp = ()
tp2 = tuple()

In [21]:
23,

(23,)

In [22]:
5*(23,)

(23, 23, 23, 23, 23)

In [24]:
tp3 = tuple([2,1])
print tp3
tp4 = tuple('Jordan')
print tp4

(2, 1)
('J', 'o', 'r', 'd', 'a', 'n')

In [25]:
print tp3[0]
tp5 = tp4[4:]
print tp5

2
('a', 'n')

In [26]:
(x,y,z) = ('Thomas', 'Irving', 'Wall')
print x,y,z

Thomas Irving Wall

In [27]:
tup6 = ('HassanNaeem')
print tup6

HassanNaeem

In [28]:
tup6 = tuple('HassanNaeem')
print tup6

('H', 'a', 's', 's', 'a', 'n', 'N', 'a', 'e', 'e', 'm')

In [29]:
tup6.count('a')

3

In [30]:
tup6.index('a')

1

In [31]:
hset = set()
print type(hset)

<type 'set'>

In [32]:
hset1 = set([1,1,9,8,6,6])
print hset1

set([8, 1, 6, 9])

In [33]:
hset1 = set([1,2,5,6])
hset2 = set([5,6,7])
hset1.union(hset2)

{1, 2, 5, 6, 7}

In [34]:
hset2.add(10)
hset2

{5, 6, 7, 10}

In [35]:
hset1.add(3)

In [36]:
hset1

{1, 2, 3, 5, 6}

In [38]:
hset1.intersection(hset2)

{5, 6}

In [39]:
hset1.difference(hset2)

{1, 2, 3}

In [40]:
hset2.difference(hset1)

{7, 10}

In [41]:
hset2.symmetric_difference(hset1)

{1, 2, 3, 7, 10}

In [42]:
hset1.issubset(hset2)

False

In [43]:
hset2.issuperset(hset1)

False

In [44]:
hset1.pop()

1

In [45]:
print hset1

set([2, 3, 5, 6])

In [47]:
hset2.remove(7)
hset2

{5, 6, 10}

In [48]:
hset2.clear()
hset2

set()

In [49]:
x = 30
if x < 50:
    print "Dunk"

Dunk

In [50]:
x = 20
if x > 30:
    print "Jordan"
else:
    print "Drew Brees"

Drew Brees

In [55]:
x = 3
y = 8
if x > y:
    print "NFL"
elif x < y:
    print "MLB"
else:
    print "NBA"

MLB

In [58]:
x=3
y=8
if x > y:
    print "Jordan"
elif x < y:
    print "NFL"
    if x == 3:
        print "Fun to Watch"
    else:
        print "NFL Sucks"
else:
    print "NBA"

NFL
Fun to Watch

In [2]:
for h in range(3):
    print h

0
1
2

In [8]:
list_lists = [['Jordan', 'James'], ['Westbrook', 'Melo'], ['Irving', 'Brown']]
for list1 in list_lists:
        print list1

['Jordan', 'James']
['Westbrook', 'Melo']
['Irving', 'Brown']

In [9]:
list_lists = [['Jordan', 'James'], ['Westbrook', 'Melo'], ['Irving', 'Brown']]
for list1 in list_lists:
    for x in list1:
        print x

Jordan
James
Westbrook
Melo
Irving
Brown

In [10]:
h = 5
while h < 8:
    print h**2
    h = h+1
print "See Ya"

25
36
49
See Ya

In [14]:
for x in range(2,50):
    print x
    if x >= 5:
        break

2
3
4
5

In [17]:
for x in range(5):
    if x > 2:
        print "GOAL!"
        continue
    elif x < 5:
        print x

0
1
2
GOAL!
GOAL!

In [18]:
han = []
for x in range(1,7):
    n = 5*x
    han.append(n)
print han

[5, 10, 15, 20, 25, 30]

In [20]:
[5*h for h in range(1,7)]

[5, 10, 15, 20, 25, 30]

In [21]:
[5*h for h in range(1, 50) if h < 7]

[5, 10, 15, 20, 25, 30]

In [24]:
[5*h for i in range(50) if i==25 for h in range(1,7)]

[5, 10, 15, 20, 25, 30]

In [1]:
import pandas as pd
import datetime

In [2]:
dt = datetime.datetime(2011,9,7)
end = datetime.datetime(2011,9,13)
step = datetime.timedelta(days=1)
dates = []

In [3]:
while dt < end:
    dates.append(dt.strftime('%m-%d'))
    dt += step
dates

['09-07', '09-08', '09-09', '09-10', '09-11', '09-12']

In [7]:
h = {'Date': dates, 'Calgary' : [15,19,15,11,9,8], 'Edmonton': [-2,0,2,5,-5,-3], 'Montreal':[20,18,23,19,25,27]}

In [8]:
h

{'Calgary': [15, 19, 15, 11, 9, 8],
 'Date': ['09-07', '09-08', '09-09', '09-10', '09-11', '09-12'],
 'Edmonton': [-2, 0, 2, 5, -5, -3],
 'Montreal': [20, 18, 23, 19, 25, 27]}

In [15]:
df = pd.DataFrame(h)

In [16]:
df1 = df['Calgary']
df1

0    15
1    19
2    15
3    11
4     9
5     8
Name: Calgary, dtype: int64

In [17]:
df = df.set_index('Date')

In [18]:
df

       Calgary  Edmonton  Montreal
Date
09-07       15        -2        20
09-08       19         0        18
09-09       15         2        23
09-10       11         5        19
09-11        9        -5        25
09-12        8        -3        27

In [19]:
titanic = pd.read_csv('../data/titanic.csv')

In [20]:
titanic.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [21]:
medals = pd.read_csv('../data/olympicmedals.csv')

In [22]:
medals.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [23]:
medals.Gender.value_counts()

Men      21721
Women     7495
Name: Gender, dtype: int64

In [24]:
medals.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [25]:
import pandas as pd
from pandas import Series, DataFrame

In [26]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [27]:
obj = pd.Series([1, 9, 8, 6])
obj

0    1
1    9
2    8
3    6
dtype: int64

In [28]:
obj.values
obj.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
obj2 = pd.Series([1, 9, 8, 6], index=['h', 'a', 's', 'n'])
obj2
obj2.index

Index([u'h', u'a', u's', u'n'], dtype='object')

In [31]:
obj2['a']
obj2['s'] = 6
obj2[['h', 'a', 's']]

h    1
a    9
s    6
dtype: int64

In [32]:
obj2[obj2 > 0]
obj2 * 2
np.exp(obj2)

h       2.718282
a    8103.083928
s     403.428793
n     403.428793
dtype: float64

In [33]:
'n' in obj2
'a' in obj2

True

In [34]:
sdata = {'Alberta': 35000, 'Ontario': 71000, 'PEI': 16000, 'British Columbia': 5000}
obj3 = pd.Series(sdata)
obj3

Alberta             35000
British Columbia     5000
Ontario             71000
PEI                 16000
dtype: int64

In [35]:
province = ['Halifax', 'Ontario', 'Alberta', 'British Columbia']
obj4 = pd.Series(sdata, index=province)
obj4

Halifax                 NaN
Ontario             71000.0
Alberta             35000.0
British Columbia     5000.0
dtype: float64

In [36]:
pd.isnull(obj4)
pd.notnull(obj4)

Halifax             False
Ontario              True
Alberta              True
British Columbia     True
dtype: bool

In [37]:
obj4.isnull()

Halifax              True
Ontario             False
Alberta             False
British Columbia    False
dtype: bool

In [38]:
obj3
obj4
obj3 + obj4

Alberta              70000.0
British Columbia     10000.0
Halifax                  NaN
Ontario             142000.0
PEI                      NaN
dtype: float64

In [39]:
obj4.name = 'population'
obj4.index.name = 'province'
obj4

province
Halifax                 NaN
Ontario             71000.0
Alberta             35000.0
British Columbia     5000.0
Name: population, dtype: float64

In [41]:
obj
obj.index = ['Ansar', 'Rabiah', 'Hassan', 'Anam']
obj

Ansar     1
Rabiah    9
Hassan    8
Anam      6
dtype: int64

In [42]:
data = {'state': ['Texas', 'Texas', 'Texas', 'Montana', 'Montana', 'Montana'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [43]:
frame

   pop    state  year
0  1.5    Texas  2000
1  1.7    Texas  2001
2  3.6    Texas  2002
3  2.4  Montana  2001
4  2.9  Montana  2002
5  3.2  Montana  2003

In [44]:
frame.head()

   pop    state  year
0  1.5    Texas  2000
1  1.7    Texas  2001
2  3.6    Texas  2002
3  2.4  Montana  2001
4  2.9  Montana  2002

In [45]:
frame.tail()

   pop    state  year
1  1.7    Texas  2001
2  3.6    Texas  2002
3  2.4  Montana  2001
4  2.9  Montana  2002
5  3.2  Montana  2003

In [46]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year    state  pop
0  2000    Texas  1.5
1  2001    Texas  1.7
2  2002    Texas  3.6
3  2001  Montana  2.4
4  2002  Montana  2.9
5  2003  Montana  3.2