Week 2 Notebook from Zi Jun Wang

1. Assign variables

In [59]:
x = 1
y = 2
print (x+y)

3

2. Perform built in comparision and mathmatical functions
5. Import pandas

In [60]:
import pandas as pd

In [61]:
a = 5.515
b = 5.455
if a < b:
    print ('a < b')
elif a > b:
    print ('a > b')
else: 
    print ('a = b')
    
if round(a,1) < round (b,1):
    print ('a < b after rounding')
elif round (a,1) > round (b,1):
    print ('a > b after rounding')
else:
    print ('a = b after rounding')

a > b
a = b after rounding

3. Use several Python native functions

In [62]:
print (type(a))
l = [6, 5, 17, 9, 13, 65, 35]
l.sort()
print (l)
l.sort(reverse = True)
print (l)

<class 'float'>
[5, 6, 9, 13, 17, 35, 65]
[65, 35, 17, 13, 9, 6, 5]

In [63]:
s = ['d', 'a']
t = ['t', 'a']
s1 = ('').join(s)
t1 = ('').join(t)
data = [s1, t1]
print(data)
data1 = ('').join(data)
print(data1)

['da', 'ta']
data

In [65]:
data.append('analytics')
print(data)
type(data1)

['da', 'ta', 'analytics']

str

4. Loop over a list and print to the console

In [66]:
m = tuple('salesforce')
for i in m:
    x = i + 's'
    print(x)

ss
as
ls
es
ss
fs
os
rs
cs
es

6. Create a dataframe with a few columns and rows

In [68]:
data = {'companies': ['aapl', 'googl', 'amzn', 'fb', 'nflx', 'snap'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'valuation': [900, 250, 360, 555, 789, 564],
        'debt': [20, 35, 67, 56, 45, 78]}
frame = pd.DataFrame(data)
print(frame)

  companies  debt  valuation  year
0      aapl    20        900  2000
1     googl    35        250  2001
2      amzn    67        360  2002
3        fb    56        555  2001
4      nflx    45        789  2002
5      snap    78        564  2003

7. Index a pandas data frame and print different cells, rows, columns

In [69]:
frame = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (frame)

  companies  debt  valuation  year
a      aapl    20        900  2000
b     googl    35        250  2001
c      amzn    67        360  2002
d        fb    56        555  2001
e      nflx    45        789  2002
f      snap    78        564  2003

In [71]:
print(frame.loc['c'])

companies    amzn
debt           67
valuation     360
year         2002
Name: c, dtype: object

In [72]:
print(frame.T)

              a      b     c     d     e     f
companies  aapl  googl  amzn    fb  nflx  snap
debt         20     35    67    56    45    78
valuation   900    250   360   555   789   564
year       2000   2001  2002  2001  2002  2003

In [74]:
print(frame.year)

a    2000
b    2001
c    2002
d    2001
e    2002
f    2003
Name: year, dtype: int64

In [89]:
print(frame['companies'])

a     aapl
b    googl
c     amzn
d       fb
e     nflx
f     snap
Name: companies, dtype: object