## Introduction to Big Data Midterm

Assign date: 2017-12-03

Due date: 2017-12-16 11:59pm

Please submit only one copy of your Jupyter Notebook file with your answers for each question provided in the following cells below to Moodle. There will be no extensions or excemptions. 

You will lose 15% each day your submission is late. 

Please do not post any answers to the general question forum. You can however ask for technical help on the course page if you are having actualy technical issues. I reserve the right to delete any question/response that I deem being too much "begging for hints" in nature. You may email me directly at mtenney@yorku.ca if you have any questions, but do note I will not provide you any answers and my response may take up to 48hrs. And of course, you're free to use any class material, the Internet, or additional resources to complete the exam. The exam covers material from weeks 1-4 inclusively.

Note you MUST RUN THE CODE and print out the required results when submitting. Any empty cells or un-run code will not be accepted.


**1) Import the following libraries to your notebook (you can use alias' if you want) in the cell below:**<br/>
    pandas,
    seaborn,
    os,
    matplotlib.pyplot<br/>
**And** add the following flag: 
    %matplotlib inline

**2) Index a list in Python**<br/>
Run the code below, it will give a result of 4. If we want to get ONLY the number 8 from the list of lists below, how would you alter the code? Alter the code directly and run to print the desired output.

In [3]:
question2 = [[1,2],[3,4],[5,6],[7,[8,9]]]
print question2[1][1]

4

**3) Define a variable called bigdata, to be a list in python with the following elements and print only the last two elements of the list:**<br/> 1, "Big Data Class", 2, "Is Really Fun",3, "I Love Python"

**4) Cast the following list to be a string in Python:** <br/>
Define the list [1,2,4,3,'k'] and cast it to a string where you print out '1243k'. Insert your code below.

**5) Test whether the two lists are equal too each other and if not what elements are shared between the two lists.**<br/>
<t/>list1 = ['1',2,'3',4,5]<br/>
<t/>list2 = [1,2,3,4,'5',6]<br/>
<br/>
Define the lists and print whether the lists are equal to one another, and find which elements are a match. (***Hint you can go element by element or use you can use a "for" loop, or, you can use a different data structure all together***).

**6) Test whether the two lists are equal too each other and if not what elements are shared between the two lists.**<br/>

**7) What are the "5 V's" commonly used to describe Big Data?** Write your answer below.

**8) Finish the quote:**<br/> *"All models are wrong. Some are [...]"*

**9) If a variable dogs = 103x23/2 and a variable cats = 10x12x4,  Use python to determing if dogs are greater than cats. **

**10) What is the name for the 3 primary measures of central tendency and give their definition**

**11) Calculate the descriptive statistice for each of the above central measures in Python on this list of numbers and print out the values:**<br/> 

[12,44,23,2,1,66,7,85,3,34,23,6,34,23,7,21,14,34,23,88]
<br/> 
*(Hint: it might be easier to import a function from some other library)*

**12) Delete the empty cell  between question 12 (this one) and Question 13 from the Jupyter notebook**

**13) Create a list, called mylist, containing a sequential list of numbers that starts with 2 and stops at 1000, counting by 2's in Python**

**14) Is the sum of the first 50 elements in "mylist" greater than the last element of  "mylist"?**<br/> Use Python below to print out the answer. (mylist is defined in question 13).

**15) What is the length of "mylist"?**

**16) Create another list, called my2ndlist, containing a list of numbers starting at 1002 and stops at 1052,counting by 3's in Python. <br/>THEN concatenate my2ndlist with mylist into a new list called theMegaList.**<br/> Print theMegaList below.

**17) What is the index for the value 822 in theMegaList?**

**18) Write a for loop that will test if an element in theMegaList is an even or odd number and keeps a count of how many of each there are in the list.**<br/> Print out the total number of even and odd numbers found in theMegalist below.

**19) Write a brief definition of what Data Latency and the difference between "real-time" and "near-time" data.**

**19) What does the statistic Standard Deviation tell you about a numerical dataset? **

**20) Suppose you have the following loop:**<br>
>things = [1,2,3,5,6,7,8,9,10]<br>
>previous_thing = 0<br>
>for thing in things:<br>
>>new_thing = thing * previous_thing<br>
>>x = 3+previous_thing<br>
>>previous_thing = thing<br>

**At the end of the loop:**
>**What does new_thing equal?**<br>
>**What does x equal?**

**21) What's the difference between Zero and None or Null?**

**22) In the following loop:**<br> 
>x = 1<br>
>sure_thing = True<br>
>while sure_thing:<br>
>>x = x +100<br>
>>if x < 20001: <br>
>>>x = x-1<br>
>>else: <br>
>>>sure_thing = False<br>

**What does x equal to make our sure_thing False? **

**Based on the DataFrame df and df1 defined below, add needed code to answer the following questions.**

In [4]:
from pandas import Series, DataFrame
import pandas as pd
raw_data = {'first_name': ['Jason', 'Jason', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Miller', 'Ali', 'Milner', 'Milner'],
        'age': [42, 42, 36, 24, 73],
        'preTest': [4, 4, 31, 2, 3],
        'postTest': [25, 25, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTest', 'postTest'])
df1 = df

**23) What are the column names in df1?print the result.**

**24) What is the average (mean) of the preTest and postTest scores?print the result. **

**25) Remove duplicated rows in df based on last_name only.  Instead of keeping the first value, now keep the last of the duplicated values.print the result.**

**26) Remove duplicated rows in df1 based on both first_name and last_name.  print the result.**

***Use the dataframe defined in the following cell to answer the next few questions***:

In [5]:
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
np.random.seed(42)
randomdata = DataFrame(np.random.randn(400, 4))
print randomdata
%matplotlib inline

            0         1         2         3
0    0.496714 -0.138264  0.647689  1.523030
1   -0.234153 -0.234137  1.579213  0.767435
2   -0.469474  0.542560 -0.463418 -0.465730
3    0.241962 -1.913280 -1.724918 -0.562288
4   -1.012831  0.314247 -0.908024 -1.412304
5    1.465649 -0.225776  0.067528 -1.424748
6   -0.544383  0.110923 -1.150994  0.375698
7   -0.600639 -0.291694 -0.601707  1.852278
8   -0.013497 -1.057711  0.822545 -1.220844
9    0.208864 -1.959670 -1.328186  0.196861
10   0.738467  0.171368 -0.115648 -0.301104
11  -1.478522 -0.719844 -0.460639  1.057122
12   0.343618 -1.763040  0.324084 -0.385082
13  -0.676922  0.611676  1.031000  0.931280
14  -0.839218 -0.309212  0.331263  0.975545
15  -0.479174 -0.185659 -1.106335 -1.196207
16   0.812526  1.356240 -0.072010  1.003533
17   0.361636 -0.645120  0.361396  1.538037
18  -0.035826  1.564644 -2.619745  0.821903
19   0.087047 -0.299007  0.091761 -1.987569
20  -0.219672  0.357113  1.477894 -0.518270
21  -0.808494 -0.501757  0.915402  0.328751
22  -0.529760  0.513267  0.097078  0.968645
23  -0.702053 -0.327662 -0.392108 -1.463515
24   0.296120  0.261055  0.005113 -0.234587
25  -1.415371 -0.420645 -0.342715 -0.802277
26  -0.161286  0.404051  1.886186  0.174578
27   0.257550 -0.074446 -1.918771 -0.026514
28   0.060230  2.463242 -0.192361  0.301547
29  -0.034712 -1.168678  1.142823  0.751933
..        ...       ...       ...       ...
370  0.722381 -0.372833  1.726964 -0.399636
371  0.224685  0.932591 -1.418366 -1.760809
372 -1.525656  1.262584 -0.551858  2.558199
373 -0.564248  0.184551  1.542110  2.006093
374  2.061504  1.208366  1.024063  0.592527
375  0.778361 -0.551186 -0.818199 -0.003374
376 -0.170185 -0.453228  0.696387  0.955305
377  0.088407  1.477530 -1.141689 -0.193659
378 -0.716822 -1.866537 -0.082681 -0.121748
379  1.513450  0.630812 -1.024187  1.854093
380  1.221034  0.582098 -0.226484 -0.959439
381 -0.372207  1.088749  1.884586  1.543244
382 -0.488849 -1.119617  0.140886 -1.768439
383  0.323168 -0.147603 -0.466037 -1.594703
384  0.513600 -0.532701 -1.169917 -2.872262
385 -0.027515  1.772252  1.661259 -0.457096
386 -0.602212  0.468774 -0.998385  0.301792
387  0.766080  1.226933 -0.100154 -0.203674
388 -0.877983 -0.826880 -0.226479  0.367366
389  0.913585 -0.803179  1.492689 -0.271124
390 -0.021367 -0.747212 -2.424240  0.884045
391  0.736844 -0.281328  0.066991  0.515939
392 -1.562546 -0.529053  0.794265 -1.254289
393  0.293558 -1.356582  0.466430 -0.035641
394 -1.615132  1.164739 -0.734592 -0.810252
395  0.200569  1.148637 -1.015822  0.061680
396  0.428817  0.693106  0.176442 -0.367028
397 -0.827590  0.086144 -1.072139 -2.921350
398  0.436560  0.903935 -2.362932 -1.009731
399  0.619154  2.057495  0.020794 -0.728003

[400 rows x 4 columns]

**27) Use the "describe" function to summarize the randomdata created above.**

**28) Identify the rows which contains at least one item with absolute value greater than 1**

**29) Set the values greater than 3 to 3, and the values less than -3 to -3.  Rerun the 'describe' function to summarize the randomdata dataset.**

***Use the dataframe defined in the following cell to answer the next few questions***:

In [6]:
df2 = pd.DataFrame(np.random.randn(59,4))
cols = ['GrossIn', 'GrossOut', 'NetIn', 'NetOut']
df2.columns = cols
dates = pd.date_range(start='2015-11-29', freq='W', periods=59)
df2.index = dates
df2

             GrossIn  GrossOut     NetIn    NetOut
2015-11-29 -0.182896  1.374876 -0.645964 -0.799192
2015-12-06 -0.482744 -0.953329  0.122670  1.624678
2015-12-13  0.323079 -0.252354 -0.291811 -1.563191
2015-12-20  0.883110 -0.077837 -0.180480  3.193108
2015-12-27  0.298753 -0.751791 -0.426358  1.148446
2016-01-03  0.113270 -1.438278  0.919229 -0.668144
2016-01-10  1.873298  1.080048 -0.447322  1.281016
2016-01-17  0.067856  0.852774  0.484733 -0.846357
2016-01-24 -0.643550  1.029961 -0.334775 -0.403648
2016-01-31 -0.955123  0.423599  2.062525 -1.067533
2016-02-07  0.024219  1.412221 -0.079641  0.452372
2016-02-14 -1.062394  0.428307 -0.187144  0.985730
2016-02-21  1.187386  2.589564  0.579633  0.325796
2016-02-28  0.194384 -0.353166  0.338484 -0.295401
2016-03-06  0.168461  1.317598 -1.006543  1.139879
2016-03-13  1.317115 -0.118069 -2.121855 -0.607822
2016-03-20  1.296995 -0.022868 -0.999302 -0.504775
2016-03-27  0.840620  0.546734 -0.238932 -0.366824
2016-04-03 -0.391758 -0.922410  1.615376 -0.322320
2016-04-10  1.217159  1.521316  0.998311 -0.431620
2016-04-17  0.403730 -0.024196 -0.903702  0.324359
2016-04-24 -1.179040  1.187679 -0.464617  0.201160
2016-05-01  0.283288 -0.258905  0.586694 -0.474904
2016-05-08  0.871297 -1.345980  0.126380  1.938929
2016-05-15 -1.000331 -0.677745  0.513908  0.179582
2016-05-22  0.350630  0.489187  0.634721  1.109700
2016-05-29  0.409819 -0.241258  0.672574  1.899882
2016-06-05 -0.132634 -0.974529  1.107081 -0.120381
2016-06-12 -2.172670  0.847422 -0.535328 -0.090533
2016-06-19  0.331980  0.190500  0.709452 -0.435486
2016-06-26  0.513106 -0.259547  0.738810  0.615367
2016-07-03 -0.935439  1.085982 -0.535963  0.808058
2016-07-10  0.367287  1.838184 -0.223466 -0.349317
2016-07-17 -0.019420 -0.303180  0.799942 -1.616311
2016-07-24 -1.053682 -1.067803  0.950308  1.710613
2016-07-31 -0.104449 -0.168822  0.070052  1.161878
2016-08-07 -0.927353  0.238369  0.975198  0.501094
2016-08-14  0.189582  1.001046 -2.703232  0.677875
2016-08-21 -0.654076 -1.830633  0.511203  1.373659
2016-08-28 -0.137449  0.952875  1.612278  1.314914
2016-09-04  1.639965  0.742127  0.075434 -1.601966
2016-09-11 -0.246062 -0.843247  2.170943 -0.175886
2016-09-18  0.123205  0.551485  0.043602  1.695051
2016-09-25 -0.622649  0.194607 -0.742471 -1.320023
2016-10-02 -0.611769 -0.037037 -0.429302 -0.692421
2016-10-09 -1.406317 -0.083106 -1.504720  0.760056
2016-10-16  0.082440 -1.457551 -0.309209 -0.752156
2016-10-23  0.319175  1.340450 -1.875172  0.115026
2016-10-30 -0.160133  0.671340  0.213197 -0.751969
2016-11-06 -0.319054 -0.796026  1.076007  0.021312
2016-11-13  1.901191 -0.060661 -0.708407 -1.513714
2016-11-20 -1.803140 -1.584136  0.267127  0.508725
2016-11-27 -1.581191  0.895038 -0.483061  0.146793
2016-12-04  1.612221  0.896839 -0.268531 -0.891192
2016-12-11 -2.151815 -0.719153 -0.211130 -0.987180
2016-12-18 -0.131257  0.076852 -0.224856 -0.650003
2016-12-25  0.168655  0.441941 -1.090399  1.410932
2017-01-01 -0.098588  0.018850  0.708214  0.233216
2017-01-08  0.953137  0.287124 -0.612437  0.361504

**30) Print all the data from 2016-06-19 to 2016-10-20 in df2 above.**

**31) What was the GrossIn and NetIn for 2016-09-18? Print the results. **

**32) Sum all the GrossOut and NetOut for the month of March 2016 in df2. Print the results. **

**33) Find all the days GrossOut was greater than GrossIn in df2. Print the results.**

**34) What percentage was the total NetOut of the total NetIn in the year 2016 from df2 above? **

**35) Plot values for 2016 on a line graph for the GrossOut and GrossIn in df2:**

**36) Plot 4 different HISTOGRAMS of df2.GrossIn each having 5,10,15,20 bins.**<br> 
Hint: use the following code  to plot the histograms on different subplots. <br> 

import matplotlib.pyplot as plt<br> 
fig, ax = plt.subplots(nrows=2, ncols=2)<br> 
dataframe.plot(ax=ax[0,0])# this is just an example of how to plot on a top right subplot (2x2)

**37) What is your favorite pizza topping? None is not a valid answer. I don't care if you are off gluten.**

**38) Import pandas libary with the alias pd**

In [1]:
import pandas as pd

**39)You are given the Medicare spending dataset. Read it into a pandas dataframe. Then remove the 2 unused columns 'Measure Start Date' and 'Measure End Date' from the DataFrame all in the following cell. Provide your code as the answer. **

***You need to put the data file ‘Medicare_Hospital_Spending_by_Claim.csv’ at the same place as your notebook file.***

In [4]:
df = pd.read_csv('./Medicare_Hospital_Spending_by_Claim.csv').drop(['Measure Start Data','Measure End Date'])

ValueError: labels ['Measure Start Data' 'Measure End Date'] not contained in axis

**40) Replace columns names...replace the original long column names in the dataframe above (Q - 39) with shorter ones provided below in "newColumns".  Provide your code and the resulting new column names as the answer.**
<br/>
newColumns = ['Hospital', 'Provider ID', 'State', 'Period', 'Claim Type', 'Avg Spending Hospital', 'Avg Spending State', 'Avg Spending Nation', 'Percent Spending Hospital', 'Percent Spending State', 'Percent Spending Nation']

In [3]:
df.columns = newColumns = ['Hospital', 'Provider ID', 'State', 'Period', 'Claim Type', 'Avg Spending Hospital', 'Avg Spending State', 'Avg Spending Nation', 'Percent Spending Hospital', 'Percent Spending State', 'Percent Spending Nation']

ValueError: Length mismatch: Expected axis has 13 elements, new values have 11 elements

**41) Find the statistics of average (mean) and percentage spending for different states, claim types, and hospitals.  In the cell below using the same dataframe used in 39 and 40. Place your code and print your results in the cell below **

**42) Continuing with data from above, convert the dataframe content to be the right "data type" (i.e., int, float, etc) in order to perform statistical calculations for the DataFrame.  Provide your code and the resulting new print out as the answer.**
<br>
***Hint convert the columns with % and $***

**43) Continuing with the dataframe above, extract only the TX state claims into a new dataframe.  Provide your code and print the new dataframe (with only TX claims) below as the answer.**

**44) Using the dataframe from above (Q 42), find the average spending for each different TX hospitals groupedby each kind of  different claim types.  Provide your code and the resulting new print out as the answer. **

**45) Continuing from above (Q 43), what is the mean and max percentage spending of different TX hospitals for each different claim types.  Provide your code and print out the answer. **

**46) Using the whole dataset from the Medicare_Hospital_Spending_by_Claim.csv table (i.e., Q 39-41), sort the dataframe descending order by average spending and print out what the rank of TX is in terms of average spending when compared to other state averages. **

**47) Give a very general and short definition of what an Analytical Model is or is supposed to do?**

**48) Briefly describe the differences between "supervised" and "unsupervised" learning.**

**49) Briefly describe the differences between "classification" and "clustering".**

**50) Name 3 different "kinds" of Analytical Models and provide a brief definition of each. **

**EXTRA CREDIT 51) Why is Ordinary Least Squares Regression, called Ordinary Least Squares?**

**EXTRA CREDIT 52) What makes "big data" different from "small data"? (Be brief - 1 to 2 paragaphs MAX)**

**EXTRA CREDIT 53) What are WMD's according to Cathy O'Neil?**

**EXTRA CREDIT 54) Why do vicious feedback loops matter in data analytics?**

**EXTRA CREDIT 55) What are the 10 simple rules Zook et. al. Suggest to follow when doing big data analytics?**