## Introductions

In [2]:
x = 'Hello,'
y = 'My name is Behnoush!'
z = 'I love math. I can show you some of my skills:'
print x, y
print z
print '2 + 7 =', 2+7
print cmp(2,7), 'which means 2 is less than 7'

Hello, My name is Behnoush!
I love math. I can show you some of my skills:
2 + 7 = 9
-1 which means 2 is less than 7

## If, Elif, Else Statements

In [3]:
a = 80
if a > 100:
    print 'Above Max'
elif a < 50:
    print 'Below Min'
else:
    print 'Within Range'

Within Range

## While Loop

In [4]:
b = 2
B = 3
while b < 10:
    print b+B
    b = b+1
print 'The End'

5
6
7
8
9
10
11
12
The End

## List Comprehension

In [5]:
[4*c for c in range (2,8)]

[8, 12, 16, 20, 24, 28]

In [23]:
print range(2,20,4)

[2, 6, 10, 14, 18]

## Pandas

In [6]:
import pandas as pd
import datetime

In [7]:
m = datetime.datetime(2017,1,2)
end = datetime.datetime(2017,12,31)
step = datetime.timedelta(days=31)
months = []

In [8]:
while m < end:
    months.append(m.strftime('%y-%m'))
    m +=step

In [9]:
months

['17-01',
 '17-02',
 '17-03',
 '17-04',
 '17-05',
 '17-06',
 '17-07',
 '17-08',
 '17-09',
 '17-10',
 '17-11',
 '17-12']

In [10]:
cal = {'Month':months, 'No of Days' : [31,28,31,30,31,30,31,31,30,31,30,31], 'No of Weeks' : [5,4,4,4,5,4,4,5,4,5,4,4]}

In [11]:
cal

{'Month': ['17-01',
  '17-02',
  '17-03',
  '17-04',
  '17-05',
  '17-06',
  '17-07',
  '17-08',
  '17-09',
  '17-10',
  '17-11',
  '17-12'],
 'No of Days': [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
 'No of Weeks': [5, 4, 4, 4, 5, 4, 4, 5, 4, 5, 4, 4]}

In [12]:
calf = pd.DataFrame(cal)
calf = calf.set_index('Month')
print calf

       No of Days  No of Weeks
Month
17-01          31            5
17-02          28            4
17-03          31            4
17-04          30            4
17-05          31            5
17-06          30            4
17-07          31            4
17-08          31            5
17-09          30            4
17-10          31            5
17-11          30            4
17-12          31            4

In [28]:
matrix = {'C1':[1,4,7],
         'C2':[2,5,8],
         'C3':[3,6,9]}

In [29]:
Matrix=pd.DataFrame(matrix)
print Matrix

   C1  C2  C3
0   1   2   3
1   4   5   6
2   7   8   9

In [30]:
Matrix=Matrix.set_index('C1')
print Matrix

    C2  C3
C1
1    2   3
4    5   6
7    8   9

In [31]:
S1=pd.Series([11,12,13], index=['r','s','t'])
print S1

r    11
s    12
t    13
dtype: int64

In [32]:
b in S1

False

## Olympics Example

In [13]:
olympics = pd.read_csv('../data/olympicmedals.csv')

In [14]:
olympics.Gender.value_counts()

Men      21721
Women     7495
Name: Gender, dtype: int64

In [22]:
olympics.NOC.value_counts()

USA    4335
URS    2049
GBR    1594
FRA    1314
ITA    1228
GER    1211
AUS    1075
HUN    1053
SWE    1021
GDR     825
NED     782
JPN     704
CHN     679
RUS     638
ROU     624
CAN     592
NOR     537
POL     499
DEN     491
FRG     490
KOR     466
FIN     451
YUG     435
BEL     408
CUB     395
ESP     377
SUI     376
BRA     372
BUL     331
TCH     329
       ...
TAN       2
SUR       2
SRI       2
TJK       2
ZAM       2
MOZ       2
QAT       2
ECU       2
LUX       2
KSA       2
NIG       1
GUY       1
KUW       1
DJI       1
ISV       1
BDI       1
AHO       1
AFG       1
BER       1
TOG       1
BAR       1
ERI       1
CIV       1
IRQ       1
MKD       1
SEN       1
TGA       1
UAE       1
MRI       1
SUD       1
Name: NOC, Length: 138, dtype: int64

## Indexing

In [17]:
table = {'Numbers':[1,2,3,4,5],
        'X 2':[2,4,6,8,10],
        'X 3':[3,6,9,12,15],
        'X 4':[4,8,12,16,20],
        'X 5':[5,10,15,20,25]}

In [18]:
Table =pd.DataFrame(table)

In [19]:
Table

   Numbers  X 2  X 3  X 4  X 5
0        1    2    3    4    5
1        2    4    6    8   10
2        3    6    9   12   15
3        4    8   12   16   20
4        5   10   15   20   25

In [20]:
Table.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
Table.loc[2,['X 2','X 5']]

X 2     6
X 5    15
Name: 2, dtype: int64