# Brittany Chow- Assignment- Week 2

In [466]:
import pandas as pd

# Variables

In [467]:
a = 1
b = 2
c = 'Calculation'
y = 10 

print c

Calculation

In [468]:
print y-a

9

Multiple variables can be assigned with the same value.

In [469]:
d = e = 'Hi'

In [470]:
print d,e

Hi Hi

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [471]:

f = 2 
g = 3 

print f**g

8

In [472]:
2-5

-3

In [473]:
2//4.0

0.0

In [474]:
2/4.0

0.5

In [475]:
print 3/2.00

1.5

In [476]:
9%2

1

In [477]:
7//2.0

3.0

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [478]:
i = 5
j = 4

k = 10

In [479]:
i + j == 9

True

In [480]:
k > i + j

True

## Bitwise Operators (we won't cover these beyond this example

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [481]:
print int('02',4)
print int('0xaa',16)
print int('1010',2)

2
170
10

In [482]:
print int(4.7)
print int('7')

4
7

In [483]:
print float(750.2)
print float(1)

750.2
1.0

In [484]:
chr(97)

'a'

In [485]:
ord('d')

100

## Simplifying Arithmetic Operations

In [486]:
print round(5.6231,1) 
print round(7.54754, 2)

5.6
7.55

In [487]:
c =complex('5+2j')
print abs(c)

5.38516480713

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [488]:
print isinstance(1, int)
print isinstance(1.0,int)
print isinstance(1.0,(int,float))

True
False
True

**cmp(x,y)** Compare the two objects x and y and return an integer according to the outcome.

|x ? y|Output|
|---|---|
| x < y | -1 |
| x == y | 0 |
| x > y | 1 |

In [489]:
print cmp(4,3)
print cmp(5,5)
print cmp(2,7)

1
0
-1

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [490]:
print pow(1,3)
print pow(2,3,3)

1
2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [491]:
bc = 10
print range(bc)

print range(2,8,2)

print range(1,20,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6]
[1, 11]

# Print Statement

In [492]:
print "I am printing"

I am printing

In [493]:
print 'Print'

Print

In [494]:
print """This is my assignment. 

I am printing. 

I am using Python."""

This is my assignment.

I am printing.

I am using Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [495]:
string1 = "my"
print string1, 'assignment'

string2 = 'name'

string3= 'is'


print string1, string2, string3, 'Brittany'

my assignment
my name is Brittany

In [496]:
l = "Hi"
m = "everyone"
print l,m

Hi everyone

**%s** is used to refer to a variable which contains a string.

In [497]:
print "Hello %s" % string1

Hello my

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [498]:
print "Actual Number = %d" %20
print "Float of the number = %f" %20
print "Octal equivalent of the number = %o" %20
print "Hexadecimal equivalent of the number = %x" %20
print "Exponential equivalent of the number = %e" %20

Actual Number = 20
Float of the number = 20.000000
Octal equivalent of the number = 24
Hexadecimal equivalent of the number = 14
Exponential equivalent of the number = 2.000000e+01

When referring to multiple variables parenthesis is used.

In [499]:
print "Hello %s %s %s %s" %(string1,string2,string3, 'Brittany')

Hello my name is Brittany

## Other Examples

In [500]:
print "I want %f to be printed" % (.1)

I want 0.100000 to be printed

In [501]:
print 'Hi'*5

HiHiHiHiHi

In [502]:
print "Mon\nTues\nWed\nThurs\nFri"

Mon
Tues
Wed
Thurs
Fri

In [503]:
print "I want this \nto be printed."

I want this
to be printed.

In [504]:
print """
To do list:
\n\t- Groceries \n\t- Clean \n\t- Repeat
"""

To do list:

	- Groceries
	- Clean
	- Repeat

# Data Structures

## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [505]:
b = []

In [506]:
print type(b)
print isinstance(b,list)

<type 'list'>
True

In [507]:
c = ['red', 'blue']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [508]:
print c[0]

red

In [509]:
print c[-1],c[-2]

blue red

In [510]:
de = ['monday','tuesday']

In [511]:
f  = [de,c]
print f

[['monday', 'tuesday'], ['red', 'blue']]

In [512]:
z = de[1]
print z == 'monday'

False

In [513]:
c[1]

'blue'

In [514]:
z[3][0]

's'

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [515]:
num = [1,10,20,30,40,50,60,70]

In [516]:
print num[0:5]
print num[:7]

[1, 10, 20, 30, 40]
[1, 10, 20, 30, 40, 50, 60]

You can also slice a parent list with a fixed length or step length.

In [517]:
num[:5:2]

[1, 20, 40]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [518]:
len(num)

8

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [519]:
min(num)

1

In [520]:
max(num)

70

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [521]:
[2,4,6] + [6,4,2]

[2, 4, 6, 6, 4, 2]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [522]:
names = ['One','Two','Three','Four']

In [523]:
'Five' in names

False

In [524]:
'One' in names

True

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [525]:
mlist = ['z','ab','ac','aa','ad','ae']

In [526]:
print max(mlist)
print min(mlist)

z
aa

In [527]:
nlist = ['10','94','89','9999', '99']

In [528]:
print max(nlist)
print min(nlist)

9999
10

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [529]:
print max(names, key=len)
print min(names, key=len)

Three
One

In [530]:

list('five')

['f', 'i', 'v', 'e']

**append( )** is used to add a element at the end of the list.

In [531]:
lst = ['one','two','three','four','five']

In [532]:
lst.append('6')
print lst

['one', 'two', 'three', 'four', 'five', '6']

**count( )** is used to count the number of a particular element that is present in the list.

In [533]:
lst.count('six')

0

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [534]:
lst1 = [1,2,3,4]

In [535]:
lst.append(lst1)
print lst

['one', 'two', 'three', 'four', 'five', '6', [1, 2, 3, 4]]

But if nested list is not what is desired then **extend( )** function can be used.

In [536]:
lst.extend(lst1)
print lst

['one', 'two', 'three', 'four', 'five', '6', [1, 2, 3, 4], 1, 2, 3, 4]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [537]:
lst.index(1)

7

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [538]:
lst.insert(4, 'ten')
print lst

['one', 'two', 'three', 'four', 'ten', 'five', '6', [1, 2, 3, 4], 1, 2, 3, 4]

**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [539]:
lst[0] = 0
print lst

[0, 'two', 'three', 'four', 'ten', 'five', '6', [1, 2, 3, 4], 1, 2, 3, 4]

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [540]:
lst.pop()

4

Index value can be specified to pop a ceratin element corresponding to that index value.

In [541]:
lst.pop(2)

'three'

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [542]:
lst.remove(0)
print lst

['two', 'four', 'ten', 'five', '6', [1, 2, 3, 4], 1, 2, 3]

Alternative to **remove** function but with using index value is **del**

In [543]:
del lst[0]
print lst

['four', 'ten', 'five', '6', [1, 2, 3, 4], 1, 2, 3]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [544]:
lst.reverse()
print lst

[3, 2, 1, [1, 2, 3, 4], '6', 'five', 'ten', 'four']

In [545]:
lst.sort()
print lst

[1, 2, 3, [1, 2, 3, 4], '6', 'five', 'four', 'ten']

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [546]:
lst.sort(reverse=True)
print lst

['ten', 'four', 'five', '6', [1, 2, 3, 4], 3, 2, 1]

Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [547]:
names.sort()
print names
names.sort(reverse=True)
print names

['Four', 'One', 'Three', 'Two']
['Two', 'Three', 'One', 'Four']

To sort based on length key=len should be specified as shown.

In [548]:
names.sort(key=len)
print names
names.sort(key=len,reverse=True)
print names

['Two', 'One', 'Four', 'Three']
['Three', 'Four', 'Two', 'One']

### Copying a list

Most of the new python programmers commit this mistake. Consider the following,

In [549]:
lista= [2,3,4,5]

In [550]:
listb = lista
print listb

[2, 3, 4, 5]

In [551]:
lista.pop(1)
print lista
lista.append(6)
print lista

[2, 4, 5]
[2, 4, 5, 6]

In [552]:
print listb

[2, 4, 5, 6]

In [553]:
lista = [2,1,2,3]

In [554]:
listb = lista[:]
print listb

[2, 1, 2, 3]

In [555]:
lista.pop()
print lista
lista.append(2)
print lista

[2, 1, 2]
[2, 1, 2, 2]

In [556]:
print listb

[2, 1, 2, 3]

# Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [557]:
xyz = divmod(20,3)
print xyz
print type(xyz)

(6, 2)
<type 'tuple'>

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [558]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [559]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [560]:
3*(27,)

(27, 27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [561]:
tup3 = tuple([1,2,3])
print tup3
tup4 = tuple('Tuple')
print tup4

(1, 2, 3)
('T', 'u', 'p', 'l', 'e')

It follows the same indexing and slicing as Lists.

In [562]:
print tup3[1]
tup5 = tup4[:3]
print tup5

2
('T', 'u', 'p')

### Mapping one tuple to another

In [563]:
(a,b,c)= ('apple','banana','grape')

In [564]:
print a,b

apple banana

In [565]:
g = tuple('fruits')
print g

('f', 'r', 'u', 'i', 't', 's')

### Built In Tuple functions

**count()** function counts the number of specified element that is present in the tuple.

In [566]:
g.count('f')

1

**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [567]:
g.index('f')

0

# Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [568]:
set1 = set()
print type(set1)

<type 'set'>

In [569]:
set0 = set([5,5,10,15,20,20])
print set0

set([10, 20, 5, 15])

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### Built-in Functions

In [570]:
set1 = set([1,2,3])

In [571]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [572]:
set1.union(set0)

{1, 2, 3, 5, 10, 15, 20}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [573]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [574]:
set1.intersection(set2)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [575]:
set1.difference(set2)

{0, 1}

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [576]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [577]:
set1.issubset(set2)

False

In [578]:
set2.isdisjoint(set1)

False

In [579]:
set2.issuperset(set1)

False

**pop( )** is used to remove an arbitrary element in the set

In [580]:
set1.pop()
print set1

set([1, 2, 3])

**remove( )** function deletes the specified element from the set.

In [581]:
set1.remove(1)
set1

{2, 3}

**clear( )** is used to clear all the elements and make that set an empty set.

In [582]:
set0.clear()
print set0

set([])

# Control Flow Statements

## If

if some_condition:
    
    algorithm

In [583]:
x = 12
if x >10:
    if x ==10:
        print "Hello"

## If-else

if some_condition:
    
    algorithm
    
else:
   
    algorithm

In [584]:
a = 10
if a > 9:
    print "greater"
else:
    print "less"

greater

## if-elif

if some_condition:
    
    algorithm

elif some_condition:
    
    algorithm

else:
    
    algorithm

In [585]:
a = 1
b = 2
if a > b:
    print "a is greater"
elif a < b:
    print "b is greater"
else:
    print "they are equal"

b is greater

if statement inside a if statement or if-elif or if-else are called as nested if statements.

In [586]:
x = 1
y = 2
if x > y:
    print "x is greater"
elif x < y:
    print "y is greater"
    if x==10:
        print "x equals 10"
    else:
        print "x does not equal 10"
else:
    print "x=y"

y is greater
x does not equal 10

## Loops

### For

for variable in something:
    
    algorithm

In [587]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [588]:
list_of_lists = [[2, 4, 6], [8, 10, 12], [7, 8, 9]]
for list2 in list_of_lists:
        print list2

[2, 4, 6]
[8, 10, 12]
[7, 8, 9]

A use case of a nested for loop in this case would be,

In [589]:
list_of_lists = [[2, 4, 6], [8, 10, 12], [14, 16, 18]]
for list1 in list_of_lists:
    for x in list1:
        print x

2
4
6
8
10
12
14
16
18

### While

while some_condition:
    
    algorithm

In [590]:
l = 1
while l < 3:
    print('less than 3')
    l = l + 4
print('this is l')

less than 3
this is l

## Break

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [591]:
for l in range(100):
    print l
    if l == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

## Continue

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [592]:
for d in range(12):
    if d>10:
        print "Stop"
        continue
    elif d<10:
        print d

0
1
2
3
4
5
6
7
8
9
Stop

## List Comprehensions

Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [593]:
res = []
for m in range(1,5):
    m =7*i
    res.append(m)
print res

[63, 63, 63, 63]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [594]:
[7*i for x in range(1,5)]

[63, 63, 63, 63]

Understanding the code, The first bit of the code is always the algorithm and then leave a space and then write the necessary loop. But you might be wondering can nested loops be extended to list comprehensions? Yes you can.

In [595]:
[7*x for x in range(1,10) if x<=10]

[7, 14, 21, 28, 35, 42, 49, 56, 63]

Let me add one more loop to make you understand better,

In [596]:
[7*z for i in range(25) if i==7 for z in range(1,10)]

[7, 14, 21, 28, 35, 42, 49, 56, 63]

In [646]:
import pandas as pd
import datetime
dt = datetime.datetime (2017,1,1)
end = datetime.datetime(2017,1,6)
step = datetime.timedelta(days=1)
dates = []
while dt < end:
    dates.append(dt.strftime('%m-%d'))
    dt += step

print dates

['01-01', '01-02', '01-03', '01-04', '01-05']

In [675]:
t = {'Date' : dates, 'Toronto' : [2,5,7,-2,0], 'Montreal' : [-2,-4,-8,0,-10]}
print t

{'Date': ['01-01', '01-02', '01-03', '01-04', '01-05'], 'Toronto': [2, 5, 7, -2, 0], 'Montreal': [-2, -4, -8, 0, -10]}

In [657]:
from pandas import DataFrame
temp=pd.DataFrame(t)
print temp

    Date  Montreal  Toronto
0  01-01        -2        2
1  01-02        -4        5
2  01-03        -8        7
3  01-04         0       -2
4  01-05       -10        0

In [659]:
mtemp= temp['Montreal']
print mtemp

0    -2
1    -4
2    -8
3     0
4   -10
Name: Montreal, dtype: int64

In [684]:
data = {'store' : ['Zehrs', 'Longos', 'Sobeys'], 'year' : [2010, 2011, 2012], 'sales' : [10, 20, 30]}
sales = pd.DataFrame(data)

print sales 

sales

   sales   store  year
0     10   Zehrs  2010
1     20  Longos  2011
2     30  Sobeys  2012

   sales   store  year
0     10   Zehrs  2010
1     20  Longos  2011
2     30  Sobeys  2012

In [685]:
sales2 = pd.DataFrame(data, columns=['sales', 'store', 'year', 'city'], index=['Toronto','Markham', 'Barrie'])
sales2
sales2.columns

Index([u'sales', u'store', u'year', u'city'], dtype='object')

In [694]:
del sales2['city']

In [695]:
sales2['Increase in Sales'] =sales2.sales >10
sales2

         sales   store  year  Increase in Sales
Toronto     10   Zehrs  2010              False
Markham     20  Longos  2011               True
Barrie      30  Sobeys  2012               True

In [688]:
sales2.store

Toronto     Zehrs
Markham    Longos
Barrie     Sobeys
Name: store, dtype: object

In [689]:
sales2

         sales   store  year city
Toronto     10   Zehrs  2010  NaN
Markham     20  Longos  2011  NaN
Barrie      30  Sobeys  2012  NaN