Import Libraries

In [35]:
import pandas as pd

Variables

In [36]:
x = 4
y = 9
xy = "Good Morning Big Data Class"

In [37]:
print x+y, xy

13 Good Morning Big Data Class

In [38]:
x = y = 20

In [39]:
print x,y

20 20

Mathematical Equation

In [40]:
2+1

3

In [41]:
10 - 3

7

In [42]:
20/2

10

In [43]:
2*4

8

Relational Operators

In [44]:
d = 10

In [45]:
d == 10

True

In [46]:
d < 8

False

In [47]:
d > 8

True

Simplifying Arithmetic Operations

In [48]:
print round(2.6667)

3.0

In [49]:
print pow(4,2)

16

In [50]:
print range (2, 10)

[2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
string1 = "Hello"
string2 = "I Love"
string3 = "Coffee"
print string1, string2, string3

Hello I Love Coffee

In [52]:
import pandas as pd
import datetime

In [53]:
# create a list containing dates from 12-06 to 12-15
dt = datetime.datetime(2013,12,1)
end = datetime.datetime(2013,12,8)
step = datetime.timedelta(days=1)
dates = []

In [54]:
# populate the list
while dt < end:
    dates.append(dt.strftime('%m-%d'))
    dt += step

In [55]:
dates

['12-01', '12-02', '12-03', '12-04', '12-05', '12-06', '12-07']

In [56]:
d = {'Date': dates, 'Tokyo' : [15,19,15,11,9,8,13], 'Paris': [-2,0,2,5,7,-5,-3], 'Mumbai':[20,18,23,19,25,27,23]}

In [57]:
d

{'Date': ['12-01', '12-02', '12-03', '12-04', '12-05', '12-06', '12-07'],
 'Mumbai': [20, 18, 23, 19, 25, 27, 23],
 'Paris': [-2, 0, 2, 5, 7, -5, -3],
 'Tokyo': [15, 19, 15, 11, 9, 8, 13]}

In [58]:
temps = pd.DataFrame(d)

In [59]:
ntemp = temps[ "Tokyo" ]

In [60]:
ntemp

0    15
1    19
2    15
3    11
4     9
5     8
6    13
Name: Tokyo, dtype: int64

In [61]:
titanic = pd.read_csv('../data/titanic.csv')

In [62]:
titanic.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [63]:
medals=pd.read_csv('../data/olympicmedals.csv')

In [64]:
medals.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [67]:
medals.Sport.value_counts()

Aquatics             3828
Athletics            3448
Rowing               2523
Gymnastics           2214
Fencing              1547
Football             1387
Hockey               1325
Wrestling            1140
Shooting             1105
Sailing              1061
Cycling              1025
Canoe / Kayak        1002
Basketball            940
Volleyball            910
Equestrian            894
Handball              886
Boxing                842
Weightlifting         548
Judo                  435
Baseball              335
Archery               305
Tennis                272
Rugby                 192
Softball              180
Modern Pentathlon     174
Badminton             120
Table Tennis          120
Tug of War             94
Taekwondo              80
Polo                   66
Lacrosse               59
Golf                   30
Skating                27
Ice Hockey             27
Cricket                24
Triathlon              18
Rackets                10
Croquet                 8
Water Motorsports       5
Basque Pelota           4
Roque                   3
Jeu de paume            3
Name: Sport, dtype: int64