# Intro to Pandas

In [7]:
# Variable  Declaration
a=5
b=6
print a+b

11

In [9]:
# Arethemetic Operations
15/30

0

In [10]:
15.0/30.0

0.5

In [11]:
# Relational Operations
r=7
r==1

False

In [12]:
r=7
r>3

True

In [13]:
r=7
r!=7

False

In [ ]:
# Simplying Arethemetic Operations

print isinstance(7.0, float)

In [15]:
print range(5,60,10)

[5, 15, 25, 35, 45, 55]

In [16]:
print "Sun\nMon\ntue\nWed\nThrus\nFri"

Sun
Mon
tue
Wed
Thrus
Fri

In [19]:
# Data Structures-Listing
y=[]

In [20]:
t=['iphone','android']
u=['cars','bike']
v=[t,u]
print v

[['iphone', 'android'], ['cars', 'bike']]

In [2]:
#List Functions
numlist=['3','6','45','5']
print max(numlist)

6

In [22]:
#Tuples
abe=divnod(20,3)
print abe

NameError: name 'divnod' is not defined

In [23]:
abc=divmod(20,3)
print abc

(6, 2)

In [24]:
#built in functions
SetA=set([4,5,6])
SetB=set([6,4,3,2])
setB.difference(SetA)

NameError: name 'setB' is not defined

In [25]:
SetB.difference(SetA)

{2, 3}

In [30]:
#control flow statements
a=20
if a<5:
    print "apples"
else:
        print "mangoes"

mangoes

In [29]:
a=20
if a<5:
    print "apples"
else:
        print"mangoes"

mangoes

In [31]:
i = 2
while i < 6:
    print(i ** 3)
    i = i+1
print('happy')

8
27
64
125
happy

In [1]:
import pandas as pd
import datetime

In [3]:
# creating date list
dt=datetime.datetime(2015,7,15)
end=datetime.datetime(2015,8,15)
step=datetime.timedelta(days=5)
dates= []

In [4]:
# populate the list
while dt < end:
    dates.append(dt.strftime('%m-%d'))
    dt += step

In [5]:
dates

['07-15', '07-20', '07-25', '07-30', '08-04', '08-09', '08-14']

In [7]:
d = {'Date': dates, 'Toronto' : [15,19,15,11,9,8,13], 'Alberta': [-2,0,2,5,7,-5,-3], 'Mexico':[20,18,23,19,25,27,23]}

In [8]:
d

{'Alberta': [-2, 0, 2, 5, 7, -5, -3],
 'Date': ['07-15', '07-20', '07-25', '07-30', '08-04', '08-09', '08-14'],
 'Mexico': [20, 18, 23, 19, 25, 27, 23],
 'Toronto': [15, 19, 15, 11, 9, 8, 13]}

In [11]:
temps = pd.DataFrame(d)
ntemp = temps['Mexico']
ntemp

0    20
1    18
2    23
3    19
4    25
5    27
6    23
Name: Mexico, dtype: int64

In [12]:
temps = temps.set_index('Date')
temps

       Alberta  Mexico  Toronto
Date
07-15       -2      20       15
07-20        0      18       19
07-25        2      23       15
07-30        5      19       11
08-04        7      25        9
08-09       -5      27        8
08-14       -3      23       13

In [14]:
titanic=pd.read_csv('/home/id302070/Documents/yorkBigData-master/assignments/data/titanic.csv')
medals.tail()

NameError: name 'medals' is not defined

In [15]:
titanic.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [16]:
medals=pd.read_csv('/home/id302070/Documents/yorkBigData-master/assignments/data/olympicmedals.csv')
medals.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [20]:
sdata = {'Canada': 45000, 'USA: 21000, 'chile': 256000, 'UAE': 16000}
obj3 = pd.Series(sdata)
obj3

SyntaxError: invalid syntax (<ipython-input-20-f023f260423d>, line 1)

In [18]:
import pandas as pd
from padas import Series, Dataframe

ImportError: No module named padas

In [19]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [21]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [22]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [23]:
data = {'state': ['ABC', 'DEF', 'GHI', 'ABC', 'DEF, 'GHI',
        'year': [2000, 2000, 2000, 2001, 2001, 2001,
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

SyntaxError: invalid syntax (<ipython-input-23-a6e85876412c>, line 1)

In [26]:
data = {'state': ['qwe', 'wer', 'asd', 'qwe', 'wer', 'asd'],
        'year': [2000, 2000, 2000, 2001, 2001, 2001],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

   pop state  year
0  1.5   qwe  2000
1  1.7   wer  2000
2  3.6   asd  2000
3  2.4   qwe  2001
4  2.9   wer  2001
5  3.2   asd  2001

In [27]:
obj['b':'c']

NameError: name 'obj' is not defined

In [28]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj
obj['b']
obj[1]
obj[2:4]
obj[['b', 'a', 'd']]
obj[[1, 3]]
obj[obj < 2]

a    0.0
b    1.0
dtype: float64

In [29]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [31]:
#Arethemetic and DATA Alignment
a1 = pd.Series([1.5, -7.9,5.3, 2.1], index=['a', 'c', 'd', 'e'])
a2 = pd.Series([-5.6, 9.3, -2.5, 9, 5.1],
               index=['a', 'c', 'e', 'f', 'g'])
a1
a2

a   -5.6
c    9.3
e   -2.5
f    9.0
g    5.1
dtype: float64

In [32]:
a1+a2

a   -4.1
c    1.4
d    NaN
e   -0.4
f    NaN
g    NaN
dtype: float64

In [33]:
#sorting and ranking
obj = pd.Series(range(5), index=['r', 's', 't', 'u','v'])
obj.sort_index()

r    0
s    1
t    2
u    3
v    4
dtype: int64