In [79]:
name = ("new assignment")
string1 = 'new assignment'
string2 = '!'

print ("hello" + string1 + string2)

hellonew assignment!

In [10]:
a = 3
b = 4
ab = 'new assignment'
print a + b, ab

7 new assignment

In [11]:
a = b =4

In [12]:
print a,b

4 4

In [14]:
5 + 5

10

In [15]:
4-6

-2

In [16]:
7*4

28

In [17]:
2/3.4

0.5882352941176471

In [18]:
23%5

3

In [19]:
h = 4

In [20]:
h == 4

True

In [21]:
h != 4

False

In [22]:
h < 4

False

In [23]:
h <= 4

True

In [25]:
s = 4
p = 6

In [26]:
print s & p
print bin(s&p)

4
0b100

In [29]:
2 >> 1

1

In [30]:
2 << 1

4

In [33]:
s = 4 ^ 5
p = 6 ^ 9

In [34]:
print int ('23',4)
print int ('4545',7)

11
1650

In [35]:
print 120.34

120.34

In [36]:
print (67.67)

67.67

In [37]:
print int (70.70)

70

In [38]:
print int (274.756)

274

In [39]:
print float (76556789)

76556789.0

In [43]:
chr(57)

'9'

In [45]:
ord('g')

103

In [46]:
ord('k')

107

In [47]:
chr(43)

'+'

In [48]:
chr(76)

'L'

In [49]:
ord('l')

108

In [51]:
print ('i am new to big data and i love s%')

i am new to big data and i love s%

In [55]:
q = ['clothes','shoes','jackets','gloves']

In [56]:
r = ['wheat','flour','data','server']

In [57]:
q[-4]

'clothes'

In [59]:
q[3]

'gloves'

In [60]:
r[-3]

'flour'

In [61]:
t = [q,r]

In [62]:
print (t)

[['clothes', 'shoes', 'jackets', 'gloves'], ['wheat', 'flour', 'data', 'server']]

In [64]:
t1 = t[1]

In [65]:
print t1

['wheat', 'flour', 'data', 'server']

In [66]:
t1[0]

'wheat'

In [67]:
t1[3]

'server'

In [68]:
t2 = t[0]

In [69]:
print t2

['clothes', 'shoes', 'jackets', 'gloves']

In [70]:
t[1][0]

'wheat'

In [100]:
num = [11,12,13,14,15,16,17,18,19,20]

In [103]:
print num[1:20]
print num[0:]

[12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
pandas = pd

In [12]:
print pd

<module 'pandas' from '/bda/app/anaconda2/lib/python2.7/site-packages/pandas/__init__.pyc'>

In [1]:
pd = 'data structure'

In [2]:
print "data structure"

data structure

In [9]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,15,14,16]

In [10]:
len(num)

15

In [11]:
max(num)

16

In [12]:
min(num)

1

In [15]:
[1,15,16] + [12,3,10]

[1, 15, 16, 12, 3, 10]

In [16]:
names = ["jupiter", "sun", "moon", "earth"]

In [17]:
'sun' in names

True

In [18]:
'sky' in names

False

In [19]:
list('names')

['n', 'a', 'm', 'e', 's']

In [20]:
list(names)

['jupiter', 'sun', 'moon', 'earth']

In [21]:
print max(names)

sun

In [22]:
print min(names)

earth

In [5]:
first = [1,4,4,5,2]

In [27]:
first.append(6)
print first

[1, 4, 4, 5, 2, 6, 6]

In [7]:
first.count(4)

2

In [30]:
first.index(5)

3

In [31]:
first.pop(5)

6

In [43]:
first.reverse()
print first

[1, 4, 4, 5, 2, 6]

In [44]:
first.sort()
print first

[1, 2, 4, 4, 5, 6]

In [45]:
names.sort()
print names

['earth', 'jupiter', 'moon', 'sun']

In [46]:
create = ("dataframe")

In [48]:
print pd

data structure

In [10]:
names = ["sun", "moon", "earth", "jupiter", "faisal"]

In [11]:
'faisal' in names

True

In [12]:
'shivanshu' in names

False

In [13]:
list('names')

['n', 'a', 'm', 'e', 's']

In [14]:
list (names)

['sun', 'moon', 'earth', 'jupiter', 'faisal']

In [28]:
list1 = [list]

In [29]:
list2 = [1,2,3,5,6,7]

In [30]:
print list2

[1, 2, 3, 5, 6, 7]

In [35]:
list1 = list2[:]

In [38]:
list1.pop()
print list1
list2.append(7)
print list2

[1, 2, 3]
[1, 2, 3, 5, 6, 7, 7, 7]

In [1]:
hjk = divmod(13,6)
print hjk
print type(hjk)

(2, 1)
<type 'tuple'>

In [2]:
80,

(80,)

In [4]:
4*(80,)

(80, 80, 80, 80)

In [14]:
(x,y,z) = ('bat','ball','pads')
print x,y,z

bat ball pads

In [16]:
x.count('z')

0

In [48]:
q = z
print q

pads

In [49]:
q.index(z)

0

In [50]:
colours = ('red','orange','black')
i = 1

In [53]:
i<len(colours)

True

In [55]:
print(colours[i])
i += 1

orange

In [65]:
colours = ["red"]
for i in colours:
    if i == "red":
        colours += ["black"]
        if i == "black":
            colours += ["white"]
print colours

['red', 'black']

In [70]:
shapes = ["triangle"]
for i in shapes:
    if i == "triangle":
        shapes += ["square"]
        if i == "square":
            shapes += ["dimond"]
print shapes

['triangle', 'square']

In [72]:
import pandas as pd
pd.Series

pandas.core.series.Series

In [77]:
from pandas import Series, DataFrame

In [78]:
import numpy as np
np.random.seed(1234567)
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (11,7))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 18
np.set_printoptions(precision = 5, suppress = True)

In [79]:
obj = pd.Series([5,34,7,0,6])
obj

0     5
1    34
2     7
3     0
4     6
dtype: int64

In [81]:
obj.values
obj.index

RangeIndex(start=0, stop=5, step=1)

In [92]:
obj1 = pd.Series([1,2,3,4], index=['h','i','j','k'])
obj1
obj1.index

Index([u'h', u'i', u'j', u'k'], dtype='object')

In [93]:
obj1['h']
obj1['i'] = 8
obj1[['j','i','k']]

j    3
i    8
k    4
dtype: int64

In [94]:
obj1[obj1 > 4]
obj1 * 6
np.exp(obj1)

h       2.718282
i    2980.957987
j      20.085537
k      54.598150
dtype: float64

In [95]:
'i' in obj1
'k' in obj1

True

In [96]:
'l'in obj1

False

In [98]:
Data = {'city' : ['Brampton','Barrie','Toronto','Brampton','Brampton'], 'Deaths' : ['40','12','50','85','91'], 'Year' : ['2017','2016','2015','2014','2013']}
Frame = pd.DataFrame(Data)

In [99]:
Frame

  Deaths  Year      city
0     40  2017  Brampton
1     12  2016    Barrie
2     50  2015   Toronto
3     85  2014  Brampton
4     91  2013  Brampton

In [101]:
Frame.head()

  Deaths  Year      city
0     40  2017  Brampton
1     12  2016    Barrie
2     50  2015   Toronto
3     85  2014  Brampton
4     91  2013  Brampton

In [103]:
pd.DataFrame(Data, columns = ['Deaths','Year','city'])

  Deaths  Year      city
0     40  2017  Brampton
1     12  2016    Barrie
2     50  2015   Toronto
3     85  2014  Brampton
4     91  2013  Brampton

In [21]:
import pandas as pd
pd.Series

pandas.core.series.Series

In [22]:
from pandas import Series, DataFrame

In [24]:
import numpy as np
np.random.seed(123456)
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (11,8))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 18
np.set_printoptions(precision = 6, suppress = True)

In [27]:
data = {'city' : ['Brampton','barrie','Toronto','Brampton','brampton'], 'Year' : [2017,2016,2015,2014,2013], 'Deaths' : [40,12,50,85,91]}
frame = pd.DataFrame(data)

In [28]:
frame

   Deaths  Year      city
0      40  2017  Brampton
1      12  2016    barrie
2      50  2015   Toronto
3      85  2014  Brampton
4      91  2013  brampton

In [29]:
frame.head()

   Deaths  Year      city
0      40  2017  Brampton
1      12  2016    barrie
2      50  2015   Toronto
3      85  2014  Brampton
4      91  2013  brampton

In [31]:
pd.DataFrame(data, columns = ['Deaths','Year','city'])

   Deaths  Year      city
0      40  2017  Brampton
1      12  2016    barrie
2      50  2015   Toronto
3      85  2014  Brampton
4      91  2013  brampton

In [32]:
frame1 = pd.DataFrame(data, columns = ['Deaths','Year','city'], index = [1,2,3,4,5])
frame1
frame1.columns

Index([u'Deaths', u'Year', u'city'], dtype='object')

In [35]:
frame1['Deaths']
frame1.Year

1    2017
2    2016
3    2015
4    2014
5    2013
Name: Year, dtype: int64

In [36]:
frame1.loc[4]

Deaths          85
Year          2014
city      Brampton
Name: 4, dtype: object

In [45]:
import pandas

In [47]:
pandas.__version__

u'0.20.1'

In [48]:
pandas.read_csv('Documents/yorkBigData-master/assignments/data/crime.csv')

,State,Type of Crime,Crime,Year,Count
0,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1960,406
1,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1961,427
2,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1962,316
3,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1963,340
4,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1964,316
5,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1965,395
6,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1966,384
7,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1967,415
8,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1968,421
...,...,...,...,...,...
16413,Wyoming,Property Crime,Motor vehicle theft,1997,647
16414,Wyoming,Property Crime,Motor vehicle theft,1998,669
16415,Wyoming,Property Crime,Motor vehicle theft,1999,596
16416,Wyoming,Property Crime,Motor vehicle theft,2000,573
16417,Wyoming,Property Crime,Motor vehicle theft,2001,696
16418,Wyoming,Property Crime,Motor vehicle theft,2002,743
16419,Wyoming,Property Crime,Motor vehicle theft,2003,798
16420,Wyoming,Property Crime,Motor vehicle theft,2004,799
16421,Wyoming,Property Crime,Motor vehicle theft,2005,739

In [49]:
df = pandas.read_csv('Documents/yorkBigData-master/assignments/data/crime.csv')

In [50]:
df.head()

     State  Type of Crime                                 Crime  Year  Count
0  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1960    406
1  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1961    427
2  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1962    316
3  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1963    340
4  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1964    316

In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('Documents/yorkBigData-master/assignments/data/crime.csv')

In [53]:
df.head()

     State  Type of Crime                                 Crime  Year  Count
0  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1960    406
1  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1961    427
2  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1962    316
3  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1963    340
4  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1964    316

In [54]:
type(df)

pandas.core.frame.DataFrame

In [56]:
df.shape

(16422, 5)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16422 entries, 0 to 16421
Data columns (total 5 columns):
State            16422 non-null object
Type of Crime    16422 non-null object
Crime            16422 non-null object
Year             16422 non-null int64
Count            16422 non-null int64
dtypes: int64(2), object(3)
memory usage: 641.6+ KB

In [58]:
State_df = df['State']

In [59]:
df[['State','Type of Crime','Crime','Year','Count']].head()

     State  Type of Crime                                 Crime  Year  Count
0  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1960    406
1  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1961    427
2  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1962    316
3  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1963    340
4  Alabama  Violent Crime  Murder and nonnegligent Manslaughter  1964    316

In [60]:
df.columns

Index([u'State', u'Type of Crime', u'Crime', u'Year', u'Count'], dtype='object')

In [61]:
df.groupby('Year')

In [64]:
df.groupby('Year')['Count'].mean()

Year
1960     8428.613445
1961     8676.008403
1962     9261.456583
1963    10088.750700
1964    11377.501401
1965    13314.039216
1966    14669.806723
1967    16575.862745
1968    18867.683473
            ...
1997    36960.991597
1998    34973.988796
1999    32589.294118
2000    32515.602241
2001    33190.492997
2002    33274.380952
2003    33127.557423
2004    32715.613445
2005    32372.140056
Name: Count, Length: 46, dtype: float64

In [66]:
cols = ['h','i','j','k','l']
df.columns = cols
dates = pd.date_range(start = '2004-01-01', periods=16422)
df.index = dates
df

,h,i,j,k,l
2004-01-01,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1960,406
2004-01-02,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1961,427
2004-01-03,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1962,316
2004-01-04,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1963,340
2004-01-05,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1964,316
2004-01-06,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1965,395
2004-01-07,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1966,384
2004-01-08,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1967,415
2004-01-09,Alabama,Violent Crime,Murder and nonnegligent Manslaughter,1968,421
...,...,...,...,...,...
2048-12-08,Wyoming,Property Crime,Motor vehicle theft,1997,647
2048-12-09,Wyoming,Property Crime,Motor vehicle theft,1998,669
2048-12-10,Wyoming,Property Crime,Motor vehicle theft,1999,596
2048-12-11,Wyoming,Property Crime,Motor vehicle theft,2000,573
2048-12-12,Wyoming,Property Crime,Motor vehicle theft,2001,696
2048-12-13,Wyoming,Property Crime,Motor vehicle theft,2002,743
2048-12-14,Wyoming,Property Crime,Motor vehicle theft,2003,798
2048-12-15,Wyoming,Property Crime,Motor vehicle theft,2004,799
2048-12-16,Wyoming,Property Crime,Motor vehicle theft,2005,739