In [10]:
import pandas as pd
import numpy as np

#1. Assign variables

x = 55
y = 66

In [11]:
#2. Perform built in comparison and mathematical functions

In [12]:
x == y

False

In [13]:
x > y

False

In [14]:
x += y

In [15]:
x

121

In [16]:
x % 6

1

In [30]:
m = 44.66
round(m)

45

In [33]:
mylist  = range(4,444,11)

In [34]:
print (mylist)

range(4, 444, 11)

In [35]:
for z in range(0,10):
    print (z)

0
1
2
3
4
5
6
7
8
9

In [41]:
d = {'Country': ['Canada', 'USA', 'UK', 'Australia'],
     'Sales': [20000,5000,65000,7700],
     'NumStates': [4,8,2,6]}

In [42]:
type(d)

dict

In [43]:
df = pd.DataFrame(d)

In [44]:
df

     Country  NumStates  Sales
0     Canada          4  20000
1        USA          8   5000
2         UK          2  65000
3  Australia          6   7700

In [45]:
df.set_index('Country')

           NumStates  Sales
Country
Canada             4  20000
USA                8   5000
UK                 2  65000
Australia          6   7700

In [46]:
df

     Country  NumStates  Sales
0     Canada          4  20000
1        USA          8   5000
2         UK          2  65000
3  Australia          6   7700

In [48]:
df.set_index('Country', inplace=True)

In [49]:
df

           NumStates  Sales
Country
Canada             4  20000
USA                8   5000
UK                 2  65000
Australia          6   7700

In [54]:
df.loc['Canada']

NumStates        4
Sales        20000
Name: Canada, dtype: int64

In [55]:
df.loc['Canada']['Sales'] #Sales in Canada using loc

20000

In [56]:
df.iloc[0][1] #Sales in Canada using index location

20000

In [60]:
df['Sales']

Country
Canada       20000
USA           5000
UK           65000
Australia     7700
Name: Sales, dtype: int64

In [61]:
df['nextyearforecast'] = df['Sales'] * 1.15 #Appending a new column

In [62]:
df

           NumStates  Sales  nextyearforecast
Country
Canada             4  20000           23000.0
USA                8   5000            5750.0
UK                 2  65000           74750.0
Australia          6   7700            8855.0

In [64]:
df[df['Sales']>10000] # ALl countries where sales > 10K

         NumStates  Sales  nextyearforecast
Country
Canada           4  20000           23000.0
UK               2  65000           74750.0

In [67]:
df[(df['Sales']<10000) & (df['NumStates']>7) ] # ALl countries where sales < 10K and has more than 7 states

         NumStates  Sales  nextyearforecast
Country
USA              8   5000            5750.0

In [71]:
df.sum()

NumStates               20.0
Sales                97700.0
nextyearforecast    112355.0
dtype: float64

In [75]:
df[df['Sales'] == df['Sales'].max()] #Country with maximum sales

         NumStates  Sales  nextyearforecast
Country
UK               2  65000           74750.0