In [23]:
import pandas as pd
import datetime as dt

In [70]:
name = "Week 2 Assignment - Jacky Lu"
print name

Week 2 Assignment - Jacky Lu

In [106]:
date=dt.datetime.now().date()
print "Today is %s"%(date)

Today is 2017-11-19

In [54]:
print "What is the answer for 999 + 1?"
print "The correct answer is %d" %(999+1)

What is the answer for 999 + 1?
The correct answer is 1000

In [59]:
print 1000/2*2+500-500

1000

In [82]:
num = 1000
print num == 500

False

In [61]:
print cmp(1000, 60)

1

In [66]:
print range(20,30)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [72]:
str = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
print str[5]

Saturday

In [81]:
num = ['10','20','30','40','50','60','70','80']
print "The max number is "+max(num)+"\nThe min number is "+min(num)

The max number is 80
The min number is 10

In [85]:
date = ['Monday','Tuesday','Wednesday','Thurday','Friday','Saturday','Sunday']
for pdate in date:
    print pdate

Monday
Tuesday
Wednesday
Thurday
Friday
Saturday
Sunday

In [98]:
x = 1
while x < 10:
    print (x*2)
    x = x + 3
print "You have reach your limit"

2
8
14
You have reach your limit

In [132]:
price = {'Fruit': ['Apple', 'Orange', 'Kiwi', 'Grapes', 'Avocados'],'Per L/B' : [1.49, 1.59, 2.99, 2.59, 3.99]}
count = pd.DataFrame(price)
print count

      Fruit  Per L/B
0     Apple     1.49
1    Orange     1.59
2      Kiwi     2.99
3    Grapes     2.59
4  Avocados     3.99

In [133]:
start = datetime.datetime(2017,11,9)
end = datetime.datetime(2017,11,14)
step = datetime.timedelta(days=1)
dates = []
while start < end:
    dates.append(start.strftime('%m-%d'))
    start += step
x = {'Date': dates, 'David' : [150,110,25,61,68], 'John': [120,0,35,59,80], 'Peter':[60,38,150,89,130]}
emp = pd.DataFrame(x)
print '\nEmployee preformance report\n'
print emp.set_index('Date')

Employee preformance report

       David  John  Peter
Date
11-09    150   120     60
11-10    110     0     38
11-11     25    35    150
11-12     61    59     89
11-13     68    80    130