In [16]:
x = 11
y = 21

In [17]:
print x
print x+y

11
32

Relational Operators

In [18]:
a=11
print a < 11
print a 
print a== 11

False
11
True

In [19]:
print isinstance(a,int)
print isinstance(a, float)

True
False

In [20]:
print range (5)
print range (5,20)
print range (5,20,6)

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[5, 11, 17]

In [21]:
print "hey"
print 'hello'
print "hello"

"How is it going?"

hey
hello
hello

'How is it going?'

In [23]:
string1 = "Jays"
string2= "Go"
print "Go",string1,string2
print "Go"+string1+string2

Go Jays Go
GoJaysGo

In [25]:
print "I scored %d goals today" %3
print "My batting average is %f" %.389
print "Go %s %s" %(string1, string2)

I scored 3 goals today
My batting average is 0.389000
Go Jays Go

Data Structures
Lists

In [26]:
x=['jays','red sox','yankees']

In [31]:
print x[0]
print x[2]
print x[-1]
print x[-2]

jays
yankees
yankees
red sox

In [37]:
y = ['1st',"2nd","3rd"]
w = [x,y]
print [x,y]
print w

[['jays', 'red sox', 'yankees'], ['1st', '2nd', '3rd']]
[['jays', 'red sox', 'yankees'], ['1st', '2nd', '3rd']]

In [45]:
z1=w[1]
print z1
print z1[0]
print z1[2]
print w[1][1]

['1st', '2nd', '3rd']
1st
3rd
2nd

In [52]:
num = [11,21,45,99,55,22,245,7748,453637,23,25]
print num[3:7]
print num[6:]
print num[:4:2]

[99, 55, 22, 245]
[245, 7748, 453637, 23, 25]
[11, 45]

Built-In List Functions

In [55]:
print len(num)
print max (num)
print min(num)

11
453637
11

In [58]:
print "jays" in x
print 'rays' in x

True
False

In [60]:
print max(x, key=len)
print min(x, key=len)

red sox
jays

In [71]:
x.append("rays")
y.append('4th')
print x,y

ww= [x.append(y)]
print ww

['jays', 'red sox', 'yankees', 'rays', 'rays', 'rays', ['1st', '2nd', '3rd', '4th', '4th', '4th'], 'rays'] ['1st', '2nd', '3rd', '4th', '4th', '4th']
[None]

In [84]:
lst = [5,6,8,79,6]
print lst
print lst.index(6)
print lst.index(79)
print lst.pop(2)

[5, 6, 8, 79, 6]
1
3
8

In [89]:
set1 = set([7,9,7,8,0,5,2,5])
print set1

set([0, 2, 5, 7, 8, 9])

In [90]:
set1.add(11)
print set1

set([0, 2, 5, 7, 8, 9, 11])

In [96]:
set2 = set([9,7,12,10,66,7])
print set2
set1.union(set2)
print set1

set([9, 10, 12, 66, 7])
set([0, 2, 5, 7, 8, 9, 11])

In [98]:
set1.difference(set2)

{0, 2, 5, 8, 11}

CONTROL FLOW STATEMENTS

In [102]:
n1 = 7
if n1==7:
    print "right!"

right!

In [104]:
if n1>8:
    print "y"
else:
    print "n"

n

In [107]:
for j in range (6):
    print j

0
1
2
3
4
5

In [109]:
lists_of_lists = [[9,8,7],[6,5,4],[3,2,1]]
for lst3 in lists_of_lists:
    print lst3

[9, 8, 7]
[6, 5, 4]
[3, 2, 1]

In [121]:
h=3
while h<7:
    print (h+3)
    h=h+1
print 'end'

6
7
8
9
end

In [133]:
print [11*z for i in range (10) if i==5 for z in range(1,11)]

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]

PANDAS

In [134]:
import pandas as pd
import datetime

In [138]:
dt=datetime.datetime(2014,7,1)
end=datetime.datetime(2014,7,8)
step=datetime.timedelta(days=1)
dates =[]
while dt<end:
    dates.append(dt.strftime("%m/%d"))
    dt+=step
    
print dates

['07/01', '07/02', '07/03', '07/04', '07/05', '07/06', '07/07']

In [140]:
d={'Dates': dates, 'Toronto':[5,6,2,8,5,2,4], 'NYC':[11,55,3,7,35,89,6],'Chicago':[1,2,3,4,5,6,7]}
print d

{'Toronto': [5, 6, 2, 8, 5, 2, 4], 'NYC': [11, 55, 3, 7, 35, 89, 6], 'Dates': ['07/01', '07/02', '07/03', '07/04', '07/05', '07/06', '07/07'], 'Chicago': [1, 2, 3, 4, 5, 6, 7]}

In [143]:
hits = pd.DataFrame(d)
t_hits=hits['Toronto']
print t_hits

0    5
1    6
2    2
3    8
4    5
5    2
6    4
Name: Toronto, dtype: int64

In [144]:
hits=hits.set_index('Dates')
print hits

       Chicago  NYC  Toronto
Dates
07/01        1   11        5
07/02        2   55        6
07/03        3    3        2
07/04        4    7        8
07/05        5   35        5
07/06        6   89        2
07/07        7    6        4

In [146]:
titanic = pd.read_csv('../data/titanic.csv')
titanic.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [151]:
olympics=pd.read_csv('../data/olympicmedals.csv')
print olympics.City.value_counts()

Athens                   2149
Los Angeles              2074
Beijing                  2042
Sydney                   2015
Atlanta                  1859
Barcelona                1705
London                   1618
Seoul                    1546
Paris                    1396
Moscow                   1387
Montreal                 1305
Antwerp                  1298
Munich                   1185
Mexico                   1031
Tokyo                    1010
Helsinki                  889
Melbourne / Stockholm     885
Stockholm                 885
Rome                      882
Berlin                    875
Amsterdam                 710
St Louis                  470
Name: City, dtype: int64

In [155]:
print olympics.Medal.value_counts()

Gold      9850
Bronze    9689
Silver    9677
Name: Medal, dtype: int64

In [158]:
import pandas as pd
from pandas import Series, DataFrame

In [159]:
obj=pd.Series([2,1,6,8])
print obj

0    2
1    1
2    6
3    8
dtype: int64

In [161]:
obj2 = pd.Series([2, 1, 6, 8], index=['a', 'b', 'c', 'd'])
print obj2
obj2.index

a    2
b    1
c    6
d    8
dtype: int64

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [165]:
print obj2['a']
print obj2['c']
obj2['b']=12
print obj2['b']

2
6
12

In [167]:
print 'f' in obj2
print 'a' in obj2

False
True

In [168]:
p_data = {'Ont':30000, 'Van': 21000, "AB":8000, "WPG": 6000}
print p_data

{'WPG': 6000, 'AB': 8000, 'Van': 21000, 'Ont': 30000}

In [169]:
obj3=pd.Series(p_data)
print obj3

AB      8000
Ont    30000
Van    21000
WPG     6000
dtype: int64

In [174]:
prov =['Ont','Van','AB','WPG','Ott']
obj4=pd.Series(p_data, index=prov)
print obj4

Ont    30000.0
Van    21000.0
AB      8000.0
WPG     6000.0
Ott        NaN
dtype: float64

In [177]:
print pd.isnull(obj4)
print pd.notnull(obj4)

Ont    False
Van    False
AB     False
WPG    False
Ott     True
dtype: bool
Ont     True
Van     True
AB      True
WPG     True
Ott    False
dtype: bool

In [178]:
obj4.isnull()

Ont    False
Van    False
AB     False
WPG    False
Ott     True
dtype: bool

In [181]:
obj4.index.name = 'Province'
print obj4

Province
Ont    30000.0
Van    21000.0
AB      8000.0
WPG     6000.0
Ott        NaN
dtype: float64

In [182]:
obj
obj.index = (['Mike','Joe','julia','manny'])
print obj

Mike     2
Joe      1
julia    6
manny    8
dtype: int64

In [186]:
data = {'Prov': ['Ont', 'Van', 'AB', 'WPG', 'NFL', 'SK'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.6, 3.9, 3.6, 2.8, 1.9, 3.2]}
frame = pd.DataFrame(data)
print frame
print data

  Prov  pop  year
0  Ont  1.6  2000
1  Van  3.9  2001
2   AB  3.6  2002
3  WPG  2.8  2001
4  NFL  1.9  2002
5   SK  3.2  2003
{'Prov': ['Ont', 'Van', 'AB', 'WPG', 'NFL', 'SK'], 'pop': [1.6, 3.9, 3.6, 2.8, 1.9, 3.2], 'year': [2000, 2001, 2002, 2001, 2002, 2003]}

In [187]:
frame.head()

  Prov  pop  year
0  Ont  1.6  2000
1  Van  3.9  2001
2   AB  3.6  2002
3  WPG  2.8  2001
4  NFL  1.9  2002

In [191]:
pd.DataFrame(data, columns=['pop','year','Prov'])

   pop  year Prov
0  1.6  2000  Ont
1  3.9  2001  Van
2  3.6  2002   AB
3  2.8  2001  WPG
4  1.9  2002  NFL
5  3.2  2003   SK

In [192]:
obj = pd.Series([3.2, 1.4, -5.3, 9.6], index=['c', 'd', 'b', 'a'])
print obj

c    3.2
d    1.4
b   -5.3
a    9.6
dtype: float64

In [193]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print obj2

a    9.6
b   -5.3
c    3.2
d    1.4
e    NaN
dtype: float64

In [201]:
obj3 = pd.Series(['Red', 'Green', 'Orange'], index=[0, 3, 5])
obj3
obj3.reindex(range(9), method='ffill')

0       Red
1       Red
2       Red
3     Green
4     Green
5    Orange
6    Orange
7    Orange
8    Orange
dtype: object