## Introduction to Big Data Midterm

Assign date: 2017-12-03

Due date: 2017-12-16 11:59pm

Please submit only one copy of your Jupyter Notebook file with your answers for each question provided in the following cells below to Moodle. There will be no extensions or excemptions. 

You will lose 15% each day your submission is late. 

Please do not post any answers to the general question forum. You can however ask for technical help on the course page if you are having actualy technical issues. I reserve the right to delete any question/response that I deem being too much "begging for hints" in nature. You may email me directly at mtenney@yorku.ca if you have any questions, but do note I will not provide you any answers and my response may take up to 48hrs. And of course, you're free to use any class material, the Internet, or additional resources to complete the exam. The exam covers material from weeks 1-4 inclusively.

Note you MUST RUN THE CODE and print out the required results when submitting. Any empty cells or un-run code will not be accepted.


**1) Import the following libraries to your notebook (you can use alias' if you want) in the cell below:**<br/>
    pandas,
    seaborn,
    os,
    matplotlib.pyplot<br/>
**And** add the following flag: 
    %matplotlib inline

In [ ]:
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import os
import collections

**2) Index a list in Python**<br/>
Run the code below, it will give a result of 4. If we want to get ONLY the number 8 from the list of lists below, how would you alter the code? Alter the code directly and run to print the desired output.

In [22]:
question2 = [[1,2],[3,4],[5,6],[7,[8,9]]]
print question2[3][1][0]

8

**3) Define a variable called bigdata, to be a list in python with the following elements and print only the last two elements of the list:**<br/> 1, "Big Data Class", 2, "Is Really Fun",3, "I Love Python"

In [23]:
bigdata=['Big Data Class', 'Is Really Fun','I Love Python']
print bigdata [1], bigdata[2]

Is Really Fun I Love Python

**4) Cast the following list to be a string in Python:** <br/>
Define the list [1,2,4,3,'k'] and cast it to a string where you print out '1243k'. Insert your code below.

In [33]:
 list = [1,2,4,3,'k'] 
" ".join(str(x) for x in list)

'1 2 4 3 k'

In [ ]:
**5) Test whether the two lists are equal too each other and if not what elements are shared between the two lists.**<br/>
<t/>list1 = ['1',2,'3',4,5]<br/>
<t/>list2 = [1,2,3,4,'5',6]<br/>
<br/>
Define the lists and print whether the lists are equal to one another, and find which elements are a match. (***Hint you can go element by element or use you can use a "for" loop, or, you can use a different data structure all together***).

In [11]:
list1 = ['1',2,'3',4,5]
list2 = [1,2,3,4,'5',6]
len(list1)==len(list2) and all(list1.count(i)==list2.count(i) for i in list1)

False

**6) Test whether the two lists are equal too each other and if not what elements are shared between the two lists.**<br/>

In [20]:
list1 = ['1',2,'3',4,5]
list2 = [1,2,3,4,'5',6]
list1==list2

False

**7) What are the "5 V's" commonly used to describe Big Data?** Write your answer below.

In [ ]:
Volume: Describes the quantity of data in terms of breadth, granularity and history
As data volumes grow, traditional technology has difficulty scaling

Velocity:Describes the trend towards data flowing faster and faster nearing real-time
As velocity increases, traditional technology has difficulty keeping pace

Variety:Describes multiple formats, structures and time intervals 
As variety increases, traditional technology has difficulty keeping pace it

Veracity:Describes the level of confidence and trust we place in the data
As more data is acquired that was generated externally, this issue increases

Value:Describes the positive impact made by utilizing data
Companies have difficulty with this

**8) Finish the quote:**<br/> *"All models are wrong. Some are [...]"*

In [ ]:
more useful than others

**9) If a variable dogs = 103x23/2 and a variable cats = 10x12x4,  Use python to determing if dogs are greater than cats. **

In [ ]:
dogs=1184.5
cats=480

 if dogs > cats:
    print "dogs>cats"
elif cats < dogs:
    print "cats< dogs"
else:
    print "dogs=cats"

In [ ]:
**10) What is the name for the 3 primary measures of central tendency and give their definition**

In [ ]:
Mode:The mode is the most commonly occurring value in a distribution.
Median :The median is the middle value in distribution when the values are arranged in ascending or descending order.
Mean:The mean is the sum of the value of each observation in a dataset divided by the number of observations. This is also known as the arithmetic average.

**11) Calculate the descriptive statistice for each of the above central measures in Python on this list of numbers and print out the values:**<br/> 

[12,44,23,2,1,66,7,85,3,34,23,6,34,23,7,21,14,34,23,88]
<br/> 
*(Hint: it might be easier to import a function from some other library)*

In [140]:
import pandas as pd
import numpy as np

example_series = pd.Series ([12,44,23,2,1,66,7,85,3,34,23,6,34,23,7,21,14,34,23,88])
print(example_series.mean())
print(example_series.median())
print(example_series.mode())

27.5
23.0
0    23
dtype: int64

**12) Delete the empty cell  between question 12 (this one) and Question 13 from the Jupyter notebook**

**13) Create a list, called mylist, containing a sequential list of numbers that starts with 2 and stops at 1000, counting by 2's in Python**

In [127]:
    mylist=[]
    range(2,1000,2)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

**14) Is the sum of the first 50 elements in "mylist" greater than the last element of  "mylist"?**<br/> Use Python below to print out the answer. (mylist is defined in question 13).

In [135]:
b = sum(mylist)
print b

0

**15) What is the length of "mylist"?**

In [88]:
len(mylist)

499

**16) Create another list, called my2ndlist, containing a list of numbers starting at 1002 and stops at 1052,counting by 3's in Python. <br/>THEN concatenate my2ndlist with mylist into a new list called theMegaList.**<br/> Print theMegaList below.

In [19]:
my2ndlist=[]
range(1002,1052,3) 

mylist, my2ndlist 
megalist =sum([mylist,my2ndlist],[])
megalist

[1002,
 1005,
 1008,
 1011,
 1014,
 1017,
 1020,
 1023,
 1026,
 1029,
 1032,
 1035,
 1038,
 1041,
 1044,
 1047,
 1050]

**17) What is the index for the value 822 in theMegaList?**

In [ ]:
index(822)

**18) Write a for loop that will test if an element in theMegaList is an even or odd number and keeps a count of how many of each there are in the list.**<br/> Print out the total number of even and odd numbers found in theMegalist below.

**19) Write a brief definition of what Data Latency and the difference between "real-time" and "near-time" data.**

In [ ]:
Data latency :Latency refers to a time perspective of data. 
It describes how frequently it is updated and how much of a time delay exists 
between an actual event happening and the related data base is made aware of it.

Real-Time :low latency describes the condition when there is a “small” amount of time between
a real event and the data is updated to reflect it.  Depending on the application, 
low latency may be sub second in an automation environment and several minutes in a business environment.

Near-Time:refers to the latency that is less than a day but greater than an hour.
high latency describes the condition when the delay is larger and typically measured in hours or days

**19) What does the statistic Standard Deviation tell you about a numerical dataset? **

In [ ]:
The standard deviation of a dataset gives you a measure of how spread out it is. On an average, it helps you ascertain how close each point is from the mean.

To understand this in a practical scenario, let’s look at test scores across two exams. Let’s say the mean 
for each is 70 and 80 points, out of 100, respectively. If the standard deviation is say, 5 for the first test and 10 for the other test,
what can we say about the tests? We can say that the results for the second exam were more spread out, 
and that means that the test takers got scores vastly different to each other, in comparison to the first exam,
in which the scores were packed more tightly.

**20) Suppose you have the following loop:**<br>
>things = [1,2,3,5,6,7,8,9,10]<br>
>previous_thing = 0<br>
>for thing in things:<br>
>>new_thing = thing * previous_thing<br>
>>x = 3+previous_thing<br>
>>previous_thing = thing<br>

**At the end of the loop:**
>**What does new_thing equal?**<br>
>**What does x equal?**

In [ ]:
new_thing= false
X= [3,1,2,3,5,6,7,8,9,10]

**21) What's the difference between Zero and None or Null?**

In [ ]:
A field with a NULL value is a field with no value. 
A field with a NULL value is one that has been left blank during record creation.

 zero means field that contains spaces

**22) In the following loop:**<br> 
>x = 1<br>
>sure_thing = True<br>
>while sure_thing:<br>
>>x = x +100<br>
>>if x < 20001: <br>
>>>x = x-1<br>
>>else: <br>
>>>sure_thing = False<br>

**What does x equal to make our sure_thing False? **

In [ ]:
x = x-1

**Based on the DataFrame df and df1 defined below, add needed code to answer the following questions.**

In [145]:
from pandas import Series, DataFrame
import pandas as pd
import datetime
raw_data = {'first_name': ['Jason', 'Jason', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Miller', 'Ali', 'Milner', 'Milner'],
        'age': [42, 42, 36, 24, 73],
        'preTest': [4, 4, 31, 2, 3],
        'postTest': [25, 25, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTest', 'postTest'])
df1 = df

**23) What are the column names in df1?print the result.**

In [146]:
df1

  first_name last_name  age  preTest  postTest
0      Jason    Miller   42        4        25
1      Jason    Miller   42        4        25
2       Tina       Ali   36       31        57
3       Jake    Milner   24        2        62
4        Amy    Milner   73        3        70

**24) What is the average (mean) of the preTest and postTest scores?print the result. **

In [177]:
 df.describe(include='all')

       first_name last_name        age    preTest   postTest
count           5         5   5.000000   5.000000   5.000000
unique          4         3        NaN        NaN        NaN
top         Jason    Miller        NaN        NaN        NaN
freq            2         2        NaN        NaN        NaN
mean          NaN       NaN  43.400000   8.800000  47.800000
std           NaN       NaN  18.105248  12.437845  21.323696
min           NaN       NaN  24.000000   2.000000  25.000000
25%           NaN       NaN  36.000000   3.000000  25.000000
50%           NaN       NaN  42.000000   4.000000  57.000000
75%           NaN       NaN  42.000000   4.000000  62.000000
max           NaN       NaN  73.000000  31.000000  70.000000

**25) Remove duplicated rows in df based on last_name only.  Instead of keeping the first value, now keep the last of the duplicated values.print the result.**

In [158]:
df.drop_duplicates(['first_name'], keep='last')

  first_name last_name  age  preTest  postTest
1      Jason    Miller   42        4        25
2       Tina       Ali   36       31        57
3       Jake    Milner   24        2        62
4        Amy    Milner   73        3        70

**26) Remove duplicated rows in df1 based on both first_name and last_name.  print the result.**

In [155]:
df1.drop_duplicates()

  first_name last_name  age  preTest  postTest
0      Jason    Miller   42        4        25
2       Tina       Ali   36       31        57
3       Jake    Milner   24        2        62
4        Amy    Milner   73        3        70

***Use the dataframe defined in the following cell to answer the next few questions***:

In [5]:
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import pandas as pd
from numpy.random import randn
import numpy as np
np.random.seed(42)
randomdata = DataFrame(np.random.randn(400, 4))
print randomdata
%matplotlib inline

            0         1         2         3
0    0.496714 -0.138264  0.647689  1.523030
1   -0.234153 -0.234137  1.579213  0.767435
2   -0.469474  0.542560 -0.463418 -0.465730
3    0.241962 -1.913280 -1.724918 -0.562288
4   -1.012831  0.314247 -0.908024 -1.412304
5    1.465649 -0.225776  0.067528 -1.424748
6   -0.544383  0.110923 -1.150994  0.375698
7   -0.600639 -0.291694 -0.601707  1.852278
8   -0.013497 -1.057711  0.822545 -1.220844
9    0.208864 -1.959670 -1.328186  0.196861
10   0.738467  0.171368 -0.115648 -0.301104
11  -1.478522 -0.719844 -0.460639  1.057122
12   0.343618 -1.763040  0.324084 -0.385082
13  -0.676922  0.611676  1.031000  0.931280
14  -0.839218 -0.309212  0.331263  0.975545
15  -0.479174 -0.185659 -1.106335 -1.196207
16   0.812526  1.356240 -0.072010  1.003533
17   0.361636 -0.645120  0.361396  1.538037
18  -0.035826  1.564644 -2.619745  0.821903
19   0.087047 -0.299007  0.091761 -1.987569
20  -0.219672  0.357113  1.477894 -0.518270
21  -0.808494 -0.501757  0.915402  0.328751
22  -0.529760  0.513267  0.097078  0.968645
23  -0.702053 -0.327662 -0.392108 -1.463515
24   0.296120  0.261055  0.005113 -0.234587
25  -1.415371 -0.420645 -0.342715 -0.802277
26  -0.161286  0.404051  1.886186  0.174578
27   0.257550 -0.074446 -1.918771 -0.026514
28   0.060230  2.463242 -0.192361  0.301547
29  -0.034712 -1.168678  1.142823  0.751933
..        ...       ...       ...       ...
370  0.722381 -0.372833  1.726964 -0.399636
371  0.224685  0.932591 -1.418366 -1.760809
372 -1.525656  1.262584 -0.551858  2.558199
373 -0.564248  0.184551  1.542110  2.006093
374  2.061504  1.208366  1.024063  0.592527
375  0.778361 -0.551186 -0.818199 -0.003374
376 -0.170185 -0.453228  0.696387  0.955305
377  0.088407  1.477530 -1.141689 -0.193659
378 -0.716822 -1.866537 -0.082681 -0.121748
379  1.513450  0.630812 -1.024187  1.854093
380  1.221034  0.582098 -0.226484 -0.959439
381 -0.372207  1.088749  1.884586  1.543244
382 -0.488849 -1.119617  0.140886 -1.768439
383  0.323168 -0.147603 -0.466037 -1.594703
384  0.513600 -0.532701 -1.169917 -2.872262
385 -0.027515  1.772252  1.661259 -0.457096
386 -0.602212  0.468774 -0.998385  0.301792
387  0.766080  1.226933 -0.100154 -0.203674
388 -0.877983 -0.826880 -0.226479  0.367366
389  0.913585 -0.803179  1.492689 -0.271124
390 -0.021367 -0.747212 -2.424240  0.884045
391  0.736844 -0.281328  0.066991  0.515939
392 -1.562546 -0.529053  0.794265 -1.254289
393  0.293558 -1.356582  0.466430 -0.035641
394 -1.615132  1.164739 -0.734592 -0.810252
395  0.200569  1.148637 -1.015822  0.061680
396  0.428817  0.693106  0.176442 -0.367028
397 -0.827590  0.086144 -1.072139 -2.921350
398  0.436560  0.903935 -2.362932 -1.009731
399  0.619154  2.057495  0.020794 -0.728003

[400 rows x 4 columns]

In [185]:
randomdata = DataFrame(np.random.randn(400, 4))
print randomdata

            0         1         2         3
0    1.009358  1.332656  0.407492 -0.517044
1    0.259127  0.434481  0.232485  0.363305
2    0.373183 -0.556909 -0.763141  0.294604
3    0.047611 -0.333787  0.751661 -1.181607
4   -0.164917  0.398149  0.054668  0.081812
5    1.966123  1.538497 -0.507440 -1.293225
6   -1.359312  1.090301 -1.973417  0.230082
7   -0.222145 -0.711601 -0.390840  0.118519
8    0.969909  1.847655  0.756061  1.478007
9    0.315442  0.157292  0.317437 -0.965962
10  -1.308065 -0.336268 -0.902268  1.362350
11  -0.211301 -0.296568 -0.990075  0.276488
12   1.827207  0.123299  0.226239 -0.765245
13  -0.595590  0.141570  0.702145  0.703208
14   0.274873 -0.450475 -0.642046  0.981726
15  -0.493567  0.789792 -0.206896 -0.043007
16   0.814671 -0.598235 -1.518898 -0.042875
17  -0.502736  0.208615  0.822539  1.120367
18  -0.493155  1.608803  0.501618 -0.657180
19   0.448066  0.639991 -0.864483  0.772813
20   0.578372  0.133989  0.219377 -0.502789
21  -1.073068  0.108903  2.070371  0.210195
22   0.822490 -0.908150  0.504115 -0.352704
23   2.098589 -0.144107  0.886655  0.009011
24   1.047405 -0.091962 -1.262515 -0.389704
25   1.570731 -0.351897  2.287531 -0.931970
26   1.298725 -0.682706  0.428324  0.786975
27   0.505823 -0.631850  0.897120 -0.715301
28  -0.819120  0.683983  0.189651 -0.072075
29  -0.672475  1.141054  0.240649  1.186452
..        ...       ...       ...       ...
370  0.700691 -2.108956  1.942994  0.577535
371  0.107562  0.728244  0.013496 -0.154188
372 -0.316532  0.204951 -0.734228  0.412869
373 -0.042686 -0.074360 -0.240483 -0.666852
374  0.757872  1.455730 -0.393069 -1.629608
375  0.275930  0.691222 -0.145140 -2.177688
376  1.033473 -2.583124 -0.619924  0.384886
377 -0.155220 -0.070337 -0.061788  0.480393
378 -0.213719 -0.446125 -0.813716  0.169281
379 -0.244236 -1.292469  0.253389 -0.271531
380  0.335169 -0.285239  1.892285  0.132239
381 -0.522510 -0.410254 -0.656111 -1.327733
382  0.057310 -1.752272  1.520275  1.250604
383  0.137743 -1.901929  0.557750  0.095347
384  0.645566  0.710540 -0.367789 -0.586529
385  1.054121  1.168045 -0.150054 -0.455533
386 -0.470568  0.747122  1.596739 -0.368868
387 -0.131972  1.043130  2.038283  0.275269
388 -0.227377  0.019003  0.479545  0.920183
389 -0.403674  0.670204 -0.350314  0.089404
390  2.147233  0.354641  0.114833  0.537408
391 -1.670593 -0.185978  1.560758  0.485995
392  0.473299  1.059848 -0.945080 -0.948874
393 -1.063200  1.371234 -0.361158  0.334021
394  1.252088  0.917546  0.156050 -0.030450
395 -1.399219 -1.190942 -0.722241  0.405154
396  0.277372 -0.783497 -0.069043  0.261043
397 -0.415735  0.386994  0.909062 -1.716853
398  1.355372  1.454088  1.687984 -0.292460
399 -0.539376  1.967912  1.152930  0.512210

[400 rows x 4 columns]

**27) Use the "describe" function to summarize the randomdata created above.**

In [188]:
randomdata.describe(include='all')

                0           1           2           3
count  400.000000  400.000000  400.000000  400.000000
mean     0.053258    0.006736    0.028719   -0.056379
std      0.941663    1.006564    1.011307    0.950682
min     -2.753421   -2.605274   -2.773647   -2.445342
25%     -0.577636   -0.681026   -0.603983   -0.666000
50%      0.041890    0.011612    0.071949   -0.041580
75%      0.701132    0.747710    0.744098    0.558911
max      2.825824    2.700632    2.681656    2.987327

**28) Identify the rows which contains at least one item with absolute value greater than 1**

In [196]:
randomdata[abs(randomdata("rows"))>1]

TypeError: 'DataFrame' object is not callable

**29) Set the values greater than 3 to 3, and the values less than -3 to -3.  Rerun the 'describe' function to summarize the randomdata dataset.**

***Use the dataframe defined in the following cell to answer the next few questions***:

In [6]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df2 = pd.DataFrame(np.random.randn(59,4))
cols = ['GrossIn', 'GrossOut', 'NetIn', 'NetOut']
df2.columns = cols
dates = pd.date_range(start='2015-11-29', freq='W', periods=59)
df2.index = dates
df2

             GrossIn  GrossOut     NetIn    NetOut
2015-11-29 -0.182896  1.374876 -0.645964 -0.799192
2015-12-06 -0.482744 -0.953329  0.122670  1.624678
2015-12-13  0.323079 -0.252354 -0.291811 -1.563191
2015-12-20  0.883110 -0.077837 -0.180480  3.193108
2015-12-27  0.298753 -0.751791 -0.426358  1.148446
2016-01-03  0.113270 -1.438278  0.919229 -0.668144
2016-01-10  1.873298  1.080048 -0.447322  1.281016
2016-01-17  0.067856  0.852774  0.484733 -0.846357
2016-01-24 -0.643550  1.029961 -0.334775 -0.403648
2016-01-31 -0.955123  0.423599  2.062525 -1.067533
2016-02-07  0.024219  1.412221 -0.079641  0.452372
2016-02-14 -1.062394  0.428307 -0.187144  0.985730
2016-02-21  1.187386  2.589564  0.579633  0.325796
2016-02-28  0.194384 -0.353166  0.338484 -0.295401
2016-03-06  0.168461  1.317598 -1.006543  1.139879
2016-03-13  1.317115 -0.118069 -2.121855 -0.607822
2016-03-20  1.296995 -0.022868 -0.999302 -0.504775
2016-03-27  0.840620  0.546734 -0.238932 -0.366824
2016-04-03 -0.391758 -0.922410  1.615376 -0.322320
2016-04-10  1.217159  1.521316  0.998311 -0.431620
2016-04-17  0.403730 -0.024196 -0.903702  0.324359
2016-04-24 -1.179040  1.187679 -0.464617  0.201160
2016-05-01  0.283288 -0.258905  0.586694 -0.474904
2016-05-08  0.871297 -1.345980  0.126380  1.938929
2016-05-15 -1.000331 -0.677745  0.513908  0.179582
2016-05-22  0.350630  0.489187  0.634721  1.109700
2016-05-29  0.409819 -0.241258  0.672574  1.899882
2016-06-05 -0.132634 -0.974529  1.107081 -0.120381
2016-06-12 -2.172670  0.847422 -0.535328 -0.090533
2016-06-19  0.331980  0.190500  0.709452 -0.435486
2016-06-26  0.513106 -0.259547  0.738810  0.615367
2016-07-03 -0.935439  1.085982 -0.535963  0.808058
2016-07-10  0.367287  1.838184 -0.223466 -0.349317
2016-07-17 -0.019420 -0.303180  0.799942 -1.616311
2016-07-24 -1.053682 -1.067803  0.950308  1.710613
2016-07-31 -0.104449 -0.168822  0.070052  1.161878
2016-08-07 -0.927353  0.238369  0.975198  0.501094
2016-08-14  0.189582  1.001046 -2.703232  0.677875
2016-08-21 -0.654076 -1.830633  0.511203  1.373659
2016-08-28 -0.137449  0.952875  1.612278  1.314914
2016-09-04  1.639965  0.742127  0.075434 -1.601966
2016-09-11 -0.246062 -0.843247  2.170943 -0.175886
2016-09-18  0.123205  0.551485  0.043602  1.695051
2016-09-25 -0.622649  0.194607 -0.742471 -1.320023
2016-10-02 -0.611769 -0.037037 -0.429302 -0.692421
2016-10-09 -1.406317 -0.083106 -1.504720  0.760056
2016-10-16  0.082440 -1.457551 -0.309209 -0.752156
2016-10-23  0.319175  1.340450 -1.875172  0.115026
2016-10-30 -0.160133  0.671340  0.213197 -0.751969
2016-11-06 -0.319054 -0.796026  1.076007  0.021312
2016-11-13  1.901191 -0.060661 -0.708407 -1.513714
2016-11-20 -1.803140 -1.584136  0.267127  0.508725
2016-11-27 -1.581191  0.895038 -0.483061  0.146793
2016-12-04  1.612221  0.896839 -0.268531 -0.891192
2016-12-11 -2.151815 -0.719153 -0.211130 -0.987180
2016-12-18 -0.131257  0.076852 -0.224856 -0.650003
2016-12-25  0.168655  0.441941 -1.090399  1.410932
2017-01-01 -0.098588  0.018850  0.708214  0.233216
2017-01-08  0.953137  0.287124 -0.612437  0.361504

**30) Print all the data from 2016-06-19 to 2016-10-20 in df2 above.**

In [102]:
df2['2016-06-19':'2016-10-23']

             GrossIn  GrossOut     NetIn    NetOut
2016-06-19 -0.116865  1.218639  0.823365 -0.228724
2016-06-26  0.024939  1.463464  0.259575 -0.444673
2016-07-03 -0.779064  0.380526 -0.111321  0.085841
2016-07-10 -0.508986 -0.152778 -0.436987  1.211361
2016-07-17  0.487037 -0.391387  0.113162  0.059471
2016-07-24  0.385477 -1.127990 -1.292504 -0.033916
2016-07-31  0.403147 -2.241543 -0.500057 -0.895517
2016-08-07  0.540683  0.058652 -1.704668  0.470319
2016-08-14  1.712747 -0.856796 -0.422870  0.946365
2016-08-21 -0.664151  1.190430 -0.631023  0.086975
2016-08-28 -1.150848  0.687764 -0.198324  0.093245
2016-09-04 -0.082339  0.572043  1.584400  0.182723
2016-09-11  0.020513 -1.489348  1.730575  0.071509
2016-09-18  1.263143  0.784822 -0.377757 -0.042835
2016-09-25 -0.318454 -0.664631  0.724839  1.029833
2016-10-02  0.179243 -1.556421  0.253712 -0.911923
2016-10-09 -1.492757 -1.037291 -0.220284  1.936595
2016-10-16 -0.155068 -0.998563 -1.106252 -0.420130
2016-10-23  1.979993  1.047858  2.219516 -1.821045

In [ ]:
**31) What was the GrossIn and NetIn for 2016-09-18? Print the results. **

In [130]:
df2.loc['2016-09-18']

GrossIn     1.263143
GrossOut    0.784822
NetIn      -0.377757
NetOut     -0.042835
Name: 2016-09-18 00:00:00, dtype: float64

**32) Sum all the GrossOut and NetOut for the month of March 2016 in df2. Print the results. **

In [25]:
import pandas as pd 
df2['GrossOut'].describe()

NameError: name 'df2' is not defined

**33) Find all the days GrossOut was greater than GrossIn in df2. Print the results.**

**34) What percentage was the total NetOut of the total NetIn in the year 2016 from df2 above? **

**35) Plot values for 2016 on a line graph for the GrossOut and GrossIn in df2:**

In [16]:
import matplotlib.pyplot as plt
import prettyplotlib
#plt.plot()
df2.plot()

ImportError: No module named prettyplotlib

In [ ]:
**36) Plot 4 different HISTOGRAMS of df2.GrossIn each having 5,10,15,20 bins.**<br> 
Hint: use the following code  to plot the histograms on different subplots. <br> 

import matplotlib.pyplot as plt<br> 
fig, ax = plt.subplots(nrows=2, ncols=2)<br> 
dataframe.plot(ax=ax[0,0])# this is just an example of how to plot on a top right subplot (2x2)

In [153]:
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
plt.subplots(nrows=2, ncols=2)
scatter_matrix(df2, alpha=5, figsize=(10,15), diagonal='kde', s=20)

ValueError: RGBA values should be within 0-1 range

**37) What is your favorite pizza topping? None is not a valid answer. I don't care if you are off gluten.**

In [ ]:
I've come to enjoy just about any topping due to misfires and such, but a great combination is jalapeño and pineapple. 
Gotta love that sweet fire.
Single topping only, I'd go with meatball though.

**38) Import pandas libary with the alias pd**

In [ ]:
import pandas as pd

**39)You are given the Medicare spending dataset. Read it into a pandas dataframe. Then remove the 2 unused columns 'Measure Start Date' and 'Measure End Date' from the DataFrame all in the following cell. Provide your code as the answer. **

***You need to put the data file ‘Medicare_Hospital_Spending_by_Claim.csv’ at the same place as your notebook file.***

In [184]:
import pandas as pd 
df= pd.read_csv('C:/Users/HOME/Desktop/BIG DATA/bigdatamidterm/Medicare_Hospital_Spending_by_Claim.csv')
df

,Hospital Name,Provider Number,State,Period,Claim Type,Avg Spending Per Episode (Hospital),Avg Spending Per Episode (State),Avg Spending Per Episode (Nation),Percent of Spending (Hospital),Percent of Spending (State),Percent of Spending (Nation),Measure Start Date,Measure End Date
0,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 to 3 days Prior to Index Hospital Admission,Home Health Agency,$12,$14,$13,0.06%,0.07%,0.07%,01/01/2014,12/31/2014
1,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 to 3 days Prior to Index Hospital Admission,Hospice,$1,$1,$1,0.01%,0.01%,0%,01/01/2014,12/31/2014
2,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 to 3 days Prior to Index Hospital Admission,Inpatient,$6,$6,$5,0.03%,0.03%,0.03%,01/01/2014,12/31/2014
3,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 to 3 days Prior to Index Hospital Admission,Outpatient,$160,$85,$117,0.84%,0.46%,0.58%,01/01/2014,12/31/2014
4,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 to 3 days Prior to Index Hospital Admission,Skilled Nursing Facility,$1,$2,$2,0.01%,0.01%,0.01%,01/01/2014,12/31/2014
5,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 to 3 days Prior to Index Hospital Admission,Durable Medical Equipment,$6,$9,$9,0.03%,0.05%,0.04%,01/01/2014,12/31/2014
6,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 to 3 days Prior to Index Hospital Admission,Carrier,$462,$492,$532,2.43%,2.65%,2.66%,01/01/2014,12/31/2014
7,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,During Index Hospital Admission,Home Health Agency,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
8,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,During Index Hospital Admission,Hospice,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
9,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,During Index Hospital Admission,Inpatient,$8981,$8723,$9108,47.21%,46.91%,45.48%,01/01/2014,12/31/2014
10,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,During Index Hospital Admission,Outpatient,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
11,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,During Index Hospital Admission,Skilled Nursing Facility,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
12,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,During Index Hospital Admission,Durable Medical Equipment,$27,$32,$24,0.14%,0.17%,0.12%,01/01/2014,12/31/2014
13,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,During Index Hospital Admission,Carrier,$1587,$1435,$1514,8.34%,7.71%,7.56%,01/01/2014,12/31/2014
14,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 through 30 days After Discharge from Index H...,Home Health Agency,$988,$898,$771,5.2%,4.83%,3.85%,01/01/2014,12/31/2014
15,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 through 30 days After Discharge from Index H...,Hospice,$137,$141,$118,0.72%,0.76%,0.59%,01/01/2014,12/31/2014
16,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 through 30 days After Discharge from Index H...,Inpatient,$2943,$2607,$2665,15.47%,14.02%,13.31%,01/01/2014,12/31/2014
17,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 through 30 days After Discharge from Index H...,Outpatient,$654,$596,$710,3.44%,3.2%,3.54%,01/01/2014,12/31/2014
18,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 through 30 days After Discharge from Index H...,Skilled Nursing Facility,$1946,$2437,$3251,10.23%,13.1%,16.23%,01/01/2014,12/31/2014
19,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 through 30 days After Discharge from Index H...,Durable Medical Equipment,$141,$124,$101,0.74%,0.67%,0.5%,01/01/2014,12/31/2014
20,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,1 through 30 days After Discharge from Index H...,Carrier,$974,$995,$1083,5.12%,5.35%,5.41%,01/01/2014,12/31/2014
21,SOUTHEAST ALABAMA MEDICAL CENTER,10001,AL,Complete Episode,Total,$19025,$18597,$20025,100%,100%,100%,01/01/2014,12/31/2014
22,MARSHALL MEDICAL CENTERS,10005,AL,1 to 3 days Prior to Index Hospital Admission,Home Health Agency,$19,$14,$13,0.12%,0.07%,0.07%,01/01/2014,12/31/2014
23,MARSHALL MEDICAL CENTERS,10005,AL,1 to 3 days Prior to Index Hospital Admission,Hospice,$0,$1,$1,0%,0.01%,0%,01/01/2014,12/31/2014
24,MARSHALL MEDICAL CENTERS,10005,AL,1 to 3 days Prior to Index Hospital Admission,Inpatient,$0,$6,$5,0%,0.03%,0.03%,01/01/2014,12/31/2014
25,MARSHALL MEDICAL CENTERS,10005,AL,1 to 3 days Prior to Index Hospital Admission,Outpatient,$91,$85,$117,0.55%,0.46%,0.58%,01/01/2014,12/31/2014
26,MARSHALL MEDICAL CENTERS,10005,AL,1 to 3 days Prior to Index Hospital Admission,Skilled Nursing Facility,$1,$2,$2,0%,0.01%,0.01%,01/01/2014,12/31/2014
27,MARSHALL MEDICAL CENTERS,10005,AL,1 to 3 days Prior to Index Hospital Admission,Durable Medical Equipment,$6,$9,$9,0.03%,0.05%,0.04%,01/01/2014,12/31/2014
28,MARSHALL MEDICAL CENTERS,10005,AL,1 to 3 days Prior to Index Hospital Admission,Carrier,$446,$492,$532,2.69%,2.65%,2.66%,01/01/2014,12/31/2014
29,MARSHALL MEDICAL CENTERS,10005,AL,During Index Hospital Admission,Home Health Agency,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70568,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,1 through 30 days After Discharge from Index H...,Home Health Agency,$615,$858,$771,3.07%,3.99%,3.85%,01/01/2014,12/31/2014
70569,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,1 through 30 days After Discharge from Index H...,Hospice,$25,$145,$118,0.12%,0.67%,0.59%,01/01/2014,12/31/2014
70570,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,1 through 30 days After Discharge from Index H...,Inpatient,$5390,$3975,$2665,26.87%,18.5%,13.31%,01/01/2014,12/31/2014
70571,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,1 through 30 days After Discharge from Index H...,Outpatient,$443,$710,$710,2.21%,3.31%,3.54%,01/01/2014,12/31/2014
70572,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,1 through 30 days After Discharge from Index H...,Skilled Nursing Facility,$2395,$2903,$3251,11.94%,13.51%,16.23%,01/01/2014,12/31/2014
70573,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,1 through 30 days After Discharge from Index H...,Durable Medical Equipment,$83,$114,$101,0.41%,0.53%,0.5%,01/01/2014,12/31/2014
70574,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,1 through 30 days After Discharge from Index H...,Carrier,$1428,$1231,$1083,7.12%,5.73%,5.41%,01/01/2014,12/31/2014
70575,"BAY AREA REGIONAL MEDICAL CENTER, LLC",670096,TX,Complete Episode,Total,$20058,$21484,$20025,100%,100%,100%,01/01/2014,12/31/2014
70576,RESOLUTE HEALTH HOSPITAL,670098,TX,1 to 3 days Prior to Index Hospital Admission,Home Health Agency,$0,$23,$13,0%,0.11%,0.07%,01/01/2014,12/31/2014
70577,RESOLUTE HEALTH HOSPITAL,670098,TX,1 to 3 days Prior to Index Hospital Admission,Hospice,$0,$1,$1,0%,0.01%,0%,01/01/2014,12/31/2014
70578,RESOLUTE HEALTH HOSPITAL,670098,TX,1 to 3 days Prior to Index Hospital Admission,Inpatient,$0,$5,$5,0%,0.02%,0.03%,01/01/2014,12/31/2014
70579,RESOLUTE HEALTH HOSPITAL,670098,TX,1 to 3 days Prior to Index Hospital Admission,Outpatient,$89,$122,$117,0.51%,0.57%,0.58%,01/01/2014,12/31/2014
70580,RESOLUTE HEALTH HOSPITAL,670098,TX,1 to 3 days Prior to Index Hospital Admission,Skilled Nursing Facility,$0,$3,$2,0%,0.01%,0.01%,01/01/2014,12/31/2014
70581,RESOLUTE HEALTH HOSPITAL,670098,TX,1 to 3 days Prior to Index Hospital Admission,Durable Medical Equipment,$0,$9,$9,0%,0.04%,0.04%,01/01/2014,12/31/2014
70582,RESOLUTE HEALTH HOSPITAL,670098,TX,1 to 3 days Prior to Index Hospital Admission,Carrier,$565,$585,$532,3.22%,2.72%,2.66%,01/01/2014,12/31/2014
70583,RESOLUTE HEALTH HOSPITAL,670098,TX,During Index Hospital Admission,Home Health Agency,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
70584,RESOLUTE HEALTH HOSPITAL,670098,TX,During Index Hospital Admission,Hospice,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
70585,RESOLUTE HEALTH HOSPITAL,670098,TX,During Index Hospital Admission,Inpatient,$5693,$9227,$9108,32.41%,42.95%,45.48%,01/01/2014,12/31/2014
70586,RESOLUTE HEALTH HOSPITAL,670098,TX,During Index Hospital Admission,Outpatient,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
70587,RESOLUTE HEALTH HOSPITAL,670098,TX,During Index Hospital Admission,Skilled Nursing Facility,$0,$0,$0,0%,0%,0%,01/01/2014,12/31/2014
70588,RESOLUTE HEALTH HOSPITAL,670098,TX,During Index Hospital Admission,Durable Medical Equipment,$11,$30,$24,0.06%,0.14%,0.12%,01/01/2014,12/31/2014
70589,RESOLUTE HEALTH HOSPITAL,670098,TX,During Index Hospital Admission,Carrier,$581,$1543,$1514,3.31%,7.18%,7.56%,01/01/2014,12/31/2014
70590,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Home Health Agency,$1305,$858,$771,7.43%,3.99%,3.85%,01/01/2014,12/31/2014
70591,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Hospice,$0,$145,$118,0%,0.67%,0.59%,01/01/2014,12/31/2014
70592,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Inpatient,$2738,$3975,$2665,15.59%,18.5%,13.31%,01/01/2014,12/31/2014
70593,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Outpatient,$817,$710,$710,4.65%,3.31%,3.54%,01/01/2014,12/31/2014
70594,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Skilled Nursing Facility,$4539,$2903,$3251,25.83%,13.51%,16.23%,01/01/2014,12/31/2014
70595,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Durable Medical Equipment,$61,$114,$101,0.35%,0.53%,0.5%,01/01/2014,12/31/2014
70596,RESOLUTE HEALTH HOSPITAL,670098,TX,1 through 30 days After Discharge from Index H...,Carrier,$1168,$1231,$1083,6.65%,5.73%,5.41%,01/01/2014,12/31/2014
70597,RESOLUTE HEALTH HOSPITAL,670098,TX,Complete Episode,Total,$17568,$21484,$20025,100%,100%,100%,01/01/2014,12/31/2014

In [ ]:
**40) Replace columns names...replace the original long column names in the dataframe above (Q - 39) with shorter
ones provided below in "newColumns".  Provide your code and the resulting new column names as the answer.**
<br/>
newColumns = ['Hospital', 'Provider ID', 'State', 'Period', 'Claim Type', 'Avg Spending Hospital', 'Avg Spending State', 
              'Avg Spending Nation', 'Percent Spending Hospital', 'Percent Spending State', 'Percent Spending Nation']

In [13]:
import pandas as pd
df= pd.read_csv('C:/Users/HOME/Desktop/BIG DATA/bigdatamidterm/Medicare_Hospital_Spending_by_Claim.csv')
df.drop(['Hospital Name']),axis='columns')
df.reindex(columns=newcolumns, fill_value=0)

SyntaxError: invalid syntax (<ipython-input-13-6888844bcdbd>, line 3)

**41) Find the statistics of average (mean) and percentage spending for different states, claim types, and hospitals.  In the cell below using the same dataframe used in 39 and 40. Place your code and print your results in the cell below **

In [ ]:
df.mean(axis='states')

**42) Continuing with data from above, convert the dataframe content to be the right "data type" (i.e., int, float, etc) in order to perform statistical calculations for the DataFrame.  Provide your code and the resulting new print out as the answer.**
<br>
***Hint convert the columns with % and $***

**43) Continuing with the dataframe above, extract only the TX state claims into a new dataframe.  Provide your code and print the new dataframe (with only TX claims) below as the answer.**

**44) Using the dataframe from above (Q 42), find the average spending for each different TX hospitals groupedby each kind of  different claim types.  Provide your code and the resulting new print out as the answer. **

**45) Continuing from above (Q 43), what is the mean and max percentage spending of different TX hospitals for each different claim types.  Provide your code and print out the answer. **

**46) Using the whole dataset from the Medicare_Hospital_Spending_by_Claim.csv table (i.e., Q 39-41), sort the dataframe descending order by average spending and print out what the rank of TX is in terms of average spending when compared to other state averages. **

**47) Give a very general and short definition of what an Analytical Model is or is supposed to do?**

In [ ]:
Models are representations of reality.They are based on assumptions and simplifications
Models transform input variables into output variables
Models represent a simplified view of reality

Input variables are processed by an algorithm or a set of rules to produce output variables
A simple model may be built using an algorithm that models the problem
A complex model may require many sub-models to work together, each one addressing a piece of the larger problem

Empirical
model is created based strictly on observed data
Mechanistic
model is created based on theoretical rules and formula
Deterministic
model does not consider randomness or uncertainty
Stochastic
model considers randomness and provides a range of output values 
Continuous
model works with fractions and real numbers
Discrete
model works with integers and whole numbers
Models generate new information and insights that enable the class of business questions that were created by framing a business problem
The focus of information and insights is to ensure that they are useful and relevant relate by answering key business questions that are framed as part of the analytics effort

**48) Briefly describe the differences between "supervised" and "unsupervised" learning.**

In [ ]:
Supervised:if you are training your machine learning task for every input with corresponding target, 
it is called supervised learning, which will be able to provide target for any new input after sufficient training. 
Your learning algorithm seeks a function from inputs to the respective targets. If the targets are expressed in some 
classes, it is called classification problem. Alternatively, if the target space is continuous, it is called regression problem
UnSupervised:if you are training your machine learning task only with a set of inputs, it is called unsupervised learning, 
which will be able to find the structure or relationships between different inputs

**49) Briefly describe the differences between "classification" and "clustering".**

In [ ]:
In classification you have a set of predefined classes and want to know which class a new object belongs to
Clustering tries to group a set of objects and find whether there is some relationship between the objects

**50) Name 3 different "kinds" of Analytical Models and provide a brief definition of each. **

In [ ]:
1.descriptive:This type of analytics, analyses the data coming in real-time and historical data for insights on how to 
approach the future. The main objective of descriptive analytics is to find out the reasons behind precious success or 
failure in the past. The ‘Past’ here, refers to any particular time in which an event had occurred and this could be a
month ago or even just a minute ago
2.predictive: Analysing past data patterns and trends can accurately inform a business about what could happen in the future. 
This helps in setting realistic goals for the business, effective planning and restraining expectations. Predictive analytics 
is used by businesses to study the data and ogle into the crystal ball to find answers to the question “What could happen in 
the future based on previous trends andpatterns?”
3.prescriptive analytics: Prescriptive analytics advises on possible outcomes and results in actions that are likely to 
maximise key business metrics. It basically uses simulation and optimization to ask “What should a business do?”
Prescriptive analytics is an advanced analytics concept based on –

Optimization that helps achieve the best outcomes.--
Stochastic optimization that helps understand how to achieve the best outcome and identify data uncertainties to make better decisions.

**EXTRA CREDIT 51) Why is Ordinary Least Squares Regression, called Ordinary Least Squares?**

In [ ]:
ordinary least squares (OLS) or linear least squares is a method for estimating the unknown parameters in a linear regression
model. OLS chooses the parameters of a linear function of a set of explanatory variables by minimizing the sum of the squares
of the differences between the observed dependent variable (values of the variable being predicted) in the given dataset 
and those predicted by the linear function. Geometrically this is seen as the sum of the squared distances, parallel to the 
axis of the dependent variable, between each data point in the set and the corresponding point on the regression line – 
the smaller the differences, the better the model fits the data. The resulting estimator can be expressed by a simple formula, 
especially in the case of a single regressor on the right-hand side

**EXTRA CREDIT 52) What makes "big data" different from "small data"? (Be brief - 1 to 2 paragaphs MAX)**

In [ ]:
Small Data can be defined as small datasets that are capable of impacting decisions in the present. Anything that is currently
ongoing and whose data can be accumulated in an Excel file. Small Data is also helpful in making decisions, but does not aim to
impact business to a great extent, rather for a short span of time.It comprises of definite and specific attributes of datasets,
which can be used to analyze current situations. The specific datasets derived after digging into the huge chunks of data can
also be referred to Small Data. There are a lot of issues within an organization that demand quick and instant analysis. 
In cases like these, there is no need to use Big Data analytical tool.
Big Data, on the other hand, can be described as huge chunks of structured and unstructured data. The volume of data stored is
huge. Hence, it becomes important for analysts to carefully dig the whole thing up making it meaningful and useful for making 
better business decisions.

Big Data comes in handy when a business owners like you need to make crucial decisions for expansion. You rely on a bunch 
of professionals to extract useful data using Big Data Analytics, which can impact the business in a positive manner.
The insights incurred by a Big Data professional are extremely beneficial for businesses to make important calls and make 
a move accordingly.

However, an important thing to note here is the term ‘Big’ used in Big Data. Do you have any clue what is big here? 
Does it refer to the quantity of data that a professional manages and analyzes during the mining process? Or does it 
refer to something else? Taking the covers off, ‘Big’ refers to the big decisions that it enables an organization to 
take time after time, which ultimately results in increased revenue, more customers and responsibility to nurture relationships.

Looking at some of the past stats, which actually hint to the future showing how big, ‘Big Data’ will get.
According to statista.com, there will be approximately 50 billion devices connected to the internet by 2020. 
In 2015, traffic recorded by cloud computing in North America alone was approximately 106 exabytes (3.7 billion gigabytes),
while for the same year, it was about 3.7 exabytes for mobile devices.

There is no denying the fact that technology is evolving, a total number of connected devices are growing and companies 
connecting the physical world to digital media are constantly working on techniques to get more people onboard. This clearly
indicates how much more data and information will float in the digital space in the coming years. So much more data needs to
be processed, analyzed and put to beneficial use by companies in the future.

Comparing the two, we can conclude that Big Data is nothing but large data groups either structured or unstructured, 
which are hard to comprehend, access, organize and analyze. While, Small data, on the other hand, is easy to understand, 
access and analyze. One common thing between the two is their ability to impact businesses via thoughtful decisions and 
conclusions made after in-depth analysis.

There are several Big Data analytical tools available in the market making lives easier for analysts and helping businesses
to flourish. But, still, the dominance of either is questionable as no definite results can be incurred. Both of them hold 
their own pros and cons, which can’t be ignored. After, serious analysis and study about the two it’s pretty evident that 
they aren’t fading away anytime soon instead will continue to impact the market in future as well.

**EXTRA CREDIT 53) What are WMD's according to Cathy O'Neil?**

In [ ]:
An algorithm based on mathematical principles that implements a scoring system that evaluates people in various ways.
A WMD is widely used in determining life-affecting circumstances like the amount of credit a person can access, job assessments, car insurance
premiums, and many others.
A common characteristics of WMDs is that they’re opaque and unaccountable in that people aren’t able to understand the
process by which they are being scored and cannot complain about them if they’re wrong.
WMDs cause destructive “feedback loops” that undermine the algorithm’s original goals, which in most cases are positive in 
intent

**EXTRA CREDIT 54) Why do vicious feedback loops matter in data analytics?**

In [ ]:
One of the first uses of feedback loops occurred in the IT data center. The prodigious volume of log and 
management data generated by IT systems is now being mined and fed back to the development and new requirements teams. 
Whether we are pursuing big data analytics or a DevOps approach to application deployment and customer input, this is an 
opportunity to respond to consumer behavior and deliver competitive differentiation more quickly than we've ever seen 
in the past.More businesses and consumers share, the more we all benefit. The rich, constant data flow from our queries,
actions, locations, sensors, and devices easily gets back to big data analytics capabilities. The resulting feedback loops 
are just now being assembled and greased. But they apply to and from our customers, employees, partners, suppliers, prospects,
and communities. The more we use them, the more valuable they grow.
Using a watch, smartphone, tablet or PC, we gain an immediate and ubiquitous ability to interact with a rich and growing 
set of cloud services, each endowed with its own big data analytics. These services benefit from our collective data sharing 
and vice versa. Data-driven business and consumer apps made available to us anytime and anywhere are rapidly turning us all into
budding data scientists.
The emerging big data feedback loop mechanism in the era of increasingly integrated mobile, Internet of Things, DevOps, 
and cloud opportunities is only now being defined, still open for innovation and experimentation. At its essence, 
the latest technology compresses the ability for trial and error testing on just about anything. Refinement cycles 
go near-instant for mining data-driven truth. Most importantly, data-driven learning extends rapidly from experience 
to analysis and back to new implementation, for nearly any business problem. Users and machines gain empirical insights 
and make accurate adjustments. Repeat. Affordably. At enormous scale.

It's still far from full democratization of such analysis, but it's essential that businesses prepare 
to send and receive real-time data and analysis on just about anything. Feedback loops galore will fuel our data-driven 
decisions and offer entirely new levels of precision and rapid adjustment to more types of events, variables, and needs. 
The bold and curious will lead the creation of value around such new feedback-loop empowered analytics.

Businesses are on the cusp of receiving instant analysis of anything worth analyzing, and we're moving swiftly
toward the prospect of wider prescriptive analytics, in which the best course of future actions are displayed as a near
certainty. Many variables toward the best solution can be tested with little or no pain. And this really does change everything.

**EXTRA CREDIT 55) What are the 10 simple rules Zook et. al. Suggest to follow when doing big data analytics?**

In [ ]:
1.Acknowledge that data are people and can do harm
2.Recognize that privacy is more than a binary value
3.Guard against the reidentification of your data
4. Practice ethical data sharing
5. Consider the strengths and limitations of your data; big does not automatically mean better
6.Debate the tough, ethical choices
7.Develop a code of conduct for your organization, research community, or industry
8.Design your data and systems for auditability
9.Engage with the broader consequences of data and analysis practices
10.Know when to break these rules