In [15]:
x = 3
y = 5
xy = "Best of Luck"

In [16]:
print x - y, xy

-2 Best of Luck

In [17]:
1+2

3

In [18]:
1/2.0

0.5

In [19]:
2.56//5.23

0.0

In [20]:
z = 1

In [21]:
z == 1

True

In [22]:
z < 2

True

In [24]:
print int (7.7)
print int (7)

7
7

In [26]:
print int ('0xaa', 7)
print int ('baba', 17)

ValueError: invalid literal for int() with base 7: '0xaa'

In [27]:
chr (98)

'b'

In [29]:
ord ('b')

98

In [32]:
c = complex('1+6j')
print abs(c)

6.0827625303

In [34]:
print isinstance (1.0, (int, float))

True

In [ ]:
print cmp(5,6)

In [37]:
print range(6,18,4)

[6, 10, 14]

In [40]:
string1 = 'hello'
string2 = 'baba'
string3 = 'i miss you'
print (string1 + " " + string2 + " " + string3)

hello baba i miss you

In [41]:
print ('hello %s') % string1

hello hello

In [45]:
print "%s %s" %(string1, string2)

hello baba

In [46]:
print"_k"*22

_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k_k

In [50]:
print "Kiran\nNoman\nMurtaza"

Kiran
Noman
Murtaza

In [62]:
x = ['zoha', 'rabeea']
k = ['hassan', 'hashim']
z = [x,k]
print z

[['zoha', 'rabeea'], ['hassan', 'hashim']]

In [54]:
a1 = z[-1]
print a1

['hassan', 'hashim']

In [57]:
names = ['peter','paul','brown','charles','nancy']
print names[0:4]
print names[:4:2]

['peter', 'paul', 'brown', 'charles']
['peter', 'brown']

In [59]:
high = [11,22,33,44,55,66,77,88,99,100]
print len(high)
print min(high)
print max(high)

10
11
100

In [68]:
['k','i','r','a','n'] + ['w','a','s','i','f']

['k', 'i', 'r', 'a', 'n', 'w', 'a', 's', 'i', 'f']

In [73]:
list ('dorathy')

['d', 'o', 'r', 'a', 't', 'h', 'y']

In [80]:
lst = [10,20,30,40,50,60,70,80,90,99,]
lst1 = [2,4,6,8,10]
lst.append(1)
print lst
print lst.count(99)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 99, 1]
1

In [84]:
lst2 = [2,4,6,8]
lst3 = [3,5,7,9]
lst2.append(lst3)
print lst2
print lst2.insert(3,'jenga')

[2, 4, 6, 8, [3, 5, 7, 9]]
None

In [86]:
stress = [1,11,111,1111,11111,111111]
double = [2,22,222,2222,22222,222222]
stress.append(double)
print stress

[1, 11, 111, 1111, 11111, 111111, [2, 22, 222, 2222, 22222, 222222]]

In [89]:
stress.insert(3,'zen')
print stress

[1, 11, 111, 'zen', 'zen', 'zen', 1111, 11111, 111111, [2, 22, 222, 2222, 22222, 222222]]

In [90]:
stress.reverse()
print stress

[[2, 22, 222, 2222, 22222, 222222], 111111, 11111, 1111, 'zen', 'zen', 'zen', 111, 11, 1]

In [91]:
stress.sort()
print stress

[1, 11, 111, 1111, 11111, 111111, [2, 22, 222, 2222, 22222, 222222], 'zen', 'zen', 'zen']

In [93]:
languages = ['english','french','urdu','spanish','turkish']
languages.sort()
print languages
languages.sort(reverse=True)
print languages

['english', 'french', 'spanish', 'turkish', 'urdu']
['urdu', 'turkish', 'spanish', 'french', 'english']

In [96]:
nvm = divmod(6,3)
print nvm
print type(nvm)

(2, 0)
<type 'tuple'>

In [100]:
tup1 = tuple([1,2,3])
tup2 = tuple('hello')
print tup1
print tup2

(1, 2, 3)
('h', 'e', 'l', 'l', 'o')

In [102]:
print tup1[2]
tup3 = tup2[1:]
print tup3

3
('e', 'l', 'l', 'o')

In [103]:
(a,b,c) = ('bubbles', 'buttercup', 'blossom')
print a,b,c

bubbles buttercup blossom

In [104]:
s = tuple('honeybunny')
print s

('h', 'o', 'n', 'e', 'y', 'b', 'u', 'n', 'n', 'y')

In [106]:
s.count('n')

3

In [107]:
s.index('n')

2

In [111]:
set1 = set(['ww','ww','ww','xx','xx','ll'])
print set1

set(['ww', 'xx', 'll'])

In [112]:
sete = set([2,3,5,7,5,8])
setr = set([5,4,3,8,5,2])
sete.union(setr)

{2, 3, 4, 5, 7, 8}

In [113]:
sete.intersection(setr)

{2, 3, 5, 8}

In [114]:
sete.difference(setr)

{7}

In [115]:
sete.symmetric_difference(setr)

{4, 7}

In [122]:
q = 6
if q < 5:
    print "kiran"
else:
    print "salt"

salt

In [123]:
a = 10
s = 12
if a>b:
    print "a>b"
elif a==11:
    print "nay"
elif s==12:
    print "yay"
else:
    print "meh"

yay

In [126]:
for i in range(5):
    print i

0
1
2
3
4

In [127]:
list_of_lists = [[2,4,6] , [8,10,12] , [14,16,18]]
for fist in list_of_lists:
    print fist

[2, 4, 6]
[8, 10, 12]
[14, 16, 18]

In [128]:
for x in fist:
    print x

14
16
18

In [130]:
for i in range(8):
    if i>4:
        print 'short'
        continue
    elif i<6:
        print 'long'

long
long
long
long
long
short
short
short

In [133]:
res = []
for i in range(0,4):
    x = 3*i
    res.append(x)
print res

[0, 3, 6, 9]

In [134]:
[3*x for x in range(0,4)]

[0, 3, 6, 9]

In [ ]:
import pandas as pd
import datetime